<div class="clearfix">
    <div class="triangle"></div>
    <div class="container_nc" data-ng-show="widget.enabled" data-ng-cloak>

        <h3 class="bon_header">
            <span class="header">{{ widget.texts.header }}</span>
        </h3>
        <h4 class="bon_sub_header">
            <span class="caption">{{ widget.texts.caption }}</span>
        </h4>

        <div class="leaderboard__lists" data-ng-if="top9">


            <div class="leaderboard-container">

                <div class="leaderboard-headers md">

                    <span class="leaderboard__list-header rows headers" data-ng-bind="'1-3'"></span>

                    <span class="leaderboard__list-header rows headers" data-ng-bind="'4-6'"></span>

                    <span class="leaderboard__list-header rows headers" data-ng-bind="isInTop9 ? '7-9' : ('7-8, ' + currentUser.rank)"></span>

                </div>

                <div class="leaderboard-headers sm">

                    <span class="leaderboard__list-header rows headers" data-ng-bind="'1-5'"></span>

                    <span class="leaderboard__list-header rows headers" data-ng-bind="isInTop9 ? '4-9' : ('4-8, ' + currentUser.rankcurrentUser.rank)"></span>

                </div>

                <div class="leaderboard-headers xs">

                    <span class="leaderboard__list-header rows headers" data-ng-bind="isInTop9 ? '1-9' : ('1-8, ' + currentUser.rank)"></span>

                </div>

                <div class="leaderboard__list">
                    <div class="leaderboard__list-item" data-ng-repeat="member in top9"
                    data-ng-class="{ type_current : !!member.is_current_user }">

                        <div class="item_left">
                            <span class="avatar_container" data-ng-style="{'background-image': 'url('+((member.pic | sailplay_pic) || widget.default_avatar)+')' }"></span>

                            <span class="leaderboard__list-item__rank rank rows" data-ng-bind="member.rank"></span>
                        </div>

                        <div class="item_right">
                            <div class="name" data-ng-bind="member.full_name || 'n/a'"></div>
                            <!--div class="status">somestatus</div-->
                            <div class="score rows" data-ng-bind="(member.score | number) + ' ' + (member.score | sailplay_pluralize:('points.texts.pluralize' | tools))"></div>
                        </div>
                    
                    </div>                    
                </div>

            </div>

        </div>


    </div>
</div>

