<div class="clearfix">
    <div class="container" data-ng-show="widget.enabled" data-ng-cloak>

        <h3 class="bon_header">
            <span class="header">{{ widget.texts.header }}</span>
        </h3>
        <h4 class="bon_sub_header">
            <span class="caption">{{ widget.texts.caption }}</span>
        </h4>

        <ul class="leaderboard__list" data-ng-if="data && data()">

            <li class="leaderboard__list-item type_headers">

                <span class="leaderboard__list-item__rank rows headers">{{ widget.texts.rank }}</span>

                <span class="leaderboard__list-item__name rows headers">{{ widget.texts.full_name }}</span>

                <span class="leaderboard__list-item__score rows headers">{{ widget.texts.score }}</span>

            </li>

            <li class="leaderboard__list-item" data-ng-repeat="member in $parent.data().members.members | filter:emptyOrNull"
                data-ng-class="{ type_current : member.is_current_user }">

                <span class="leaderboard__list-item__rank rank rows">{{ !member.is_current_user ? $index + 1 : member.rank}}</span>

                <span class="leaderboard__list-item__name full_name rows">

                    <img class="leaderboard__list-item__photo photo" data-ng-if="member.pic"
                         data-ng-src="{{ $parent.member.pic | sailplay_pic }}"
                         alt="{{ $parent.member.full_name || 'n/a' }}">

                    {{ member.full_name || 'n/a' }}

                </span>

                <span class="leaderboard__list-item__score score rows" data-ng-bind="member.score"></span>

            </li>

        </ul>


    </div>
</div>

