@import (reference) "../../src/theme/mixins";
@import (reference) "../../src/theme/helpers";
@import (reference) "../../src/theme/colors";

.spm_wrapper {

  .spm_tools_widget.leaderboard {

    .triangle {
      border-color: #eeeeee transparent transparent transparent;
    }

    .container_nc {

      width: 100%;
      padding: 0px 5% 40px 5%;
      .box-sizing(border-box);

    }

    .bon_header {
        width: 90%;
        display: block;
        margin: 0 auto;
        color: #333333;
        text-align: center;
        padding-top: 50px;
        font-family: "raleway";
        font-style: italic;
        font-weight: 900;
        font-size: 40px;
    }
    .bon_sub_header {
        padding-top: 10px;
        width: 90%;
        display: block;
        margin: 0 auto;
        color: #333333;
        text-align: center;
        padding-bottom: 70px;
        font-family: "open sans condensed";
        font-weight: 300;
        font-size: 26px;
    }

    ul li{
      list-style: none;
    }

    & .leaderboard-headers {
      margin: 0 auto 20px !important;
      display: none;
      max-width: 1000px;
      justify-content: space-around;
      color: #343434;
      opacity: 0.5;
      font-family: 'open sans condensed';
      font-weight: 700;
    }
    @media screen and (min-width: 1101px) {
      & .leaderboard-headers.md {
        display: flex;
      }
    }
    @media screen and (max-width: 1100px) and (min-width: 651px) {
      & .leaderboard-headers.sm {
        display: flex;
      }
    }
    @media screen and (max-width: 650px) {
      & .leaderboard-headers.xs {
        display: flex;
      }
    }

    .leaderboard__list {
      max-width: 1000px;
      box-sizing: border-box;
      padding: 0 10px;
      margin: 0 auto 20px !important;
      float: none;
      flex-direction: column;
      flex-wrap: wrap;
      height: 600px;
      display: flex;
      align-items: center;
      @media screen and (max-width: 1100px) and (min-width: 651px) {
        height: 1000px;
      }
      @media screen and (max-width: 650px) {
        height: auto;
      }

      &-item {
        margin-top: 20px;
        display: flex;
        width: 300px;
        position: relative;
        box-sizing: border-box;
        z-index: 1;
        font-size: 0;
        padding: 5px;
        border-radius: 20px;
        padding-top: 38px;
        align-items: flex-start;
        background-color: #f2f2f2;
        flex-basis: 27%;

        @media screen and (max-width: 1100px) and (min-width: 651px) {
          flex-basis: 15%;
        }
        @media screen and (max-width: 650px) {
          flex-basis: 100%;
          min-height: 150px;
        }

        & .item_left {
          width: 40%;
          position: relative;
          & .avatar_container {
            display: block;
            border-radius: 300px;
            margin-left: 20px;
            height: 80px;
            width: 80px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
          & .rank {
            font-family: 'open sans condensed';
            font-weight: 700;
            color: #333;
            border-radius: 300px;
            background-color: #f9ea54;
            margin-left: 20px;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            height: 36px;
            width: 36px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        & .item_right {
          width: 60%;
          height: auto;

          & .name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1;
            margin-bottom: 5px;
            font-family: 'open sans condensed';
            font-weight: 700;
            color: #333333;
            font-size: 22px;
            text-transform: uppercase;
          }
          & .status {
            font-size: 18px;
            font-family: 'open sans condensed';
            color: #a6a6a6;
            line-height: 0.7;
            text-transform: uppercase;
          }
          & .score {
            position: absolute;
            bottom: 50px;
            font-family: 'raleway';
            font-weight: 700;
            font-style: italic;
            color: #229fd3;
            font-size: 20px;
          }
        }

        &.type_current {
          background-color: #f9ea54;

          & .rank {
            background-color: white;
          }

        }

        &.type_headers {
          margin-bottom: 5px;
          margin-top: 20px;

          span {
            font-size: 18px;
          }

        }

        &__photo {
          height: 18px;
          display: inline-block;
          vertical-align: top;
        }

        &__rank {
          font-size: 18px;
          width: 20%;
          text-align: left;
        }

        &__name {
          font-size: 14px;
          width: 60%;
          text-align: center;
        }

        &__score {
          font-size: 18px;
          width: 20%;
          text-align: right;
        }

      }

    }

  }
}

