<div class="bon_choice_main container" data-ng-show="widget.enabled" data-ng-cloak>
 
    <magic-modal class="bns_overlay_date" data-ng-cloak data-show="show_events">

      <div data-ng-class="{'bns_open_form': isFormOpened,  'bns_overlay_inner': true, 'bns_overlay_inner_flex': true}">
            <div class="bns_over_left">
                <h4 class="bns_head">
                    Памятные даты
                </h4>
                <a href="#" class="close" data-ng-click="$parent.close(); $event.preventDefault()"></a>
                <div class="table_wrap">
                    <table class="bns_table bns_table_date">
                        <tr class="tr_head">
                            <td>Имя</td>
                            <td>Фамилия</td>
                            <td>Дата рождения</td>
                            <td>Родство</td>
                            <!-- <td colspan="3" class="tb_yvd">Уведомления</td> -->
                        </tr>
                        <tr data-dir-paginate="item in dates | itemsPerPage:10" data-pagination-id="dates_pages">
                            <td data-ng-bind="item.name"></td>
                            <td data-ng-bind="item.secondName"></td>
                            <td data-ng-bind="item.date | amDateFormat:'D MMMM Y'"></td>
                            <td data-ng-bind="item.relation"></td>
                            <!-- <td data-ng-class="{'bns_act': item.email_notify,  'bns_p_cheack': true}">e-mail</td>
                            <td data-ng-class="{'bns_act': item.sms_notify,  'bns_p_cheack': true}">SMS</td> -->
                            <td>
                                <a href="#" class="bns_remove" data-ng-click="delete_date_by_id(item.id); $event.preventDefault()"></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <a href="#" class="bns_btn js_add_zap" data-ng-hide="isFormOpened" data-ng-click="isFormOpened = true">
                    Добавить запись
                </a>
            </div>
            <div class="bns_over_right">
                <h4 class="bns_head">
                    Памятные даты
                </h4>
                <div class="bns_form">
                    <div class="bns_input_block">
                        <label>Имя</label>
                        <input type="text" data-ng-model="newDate.name">
                    </div>
                    <div class="bns_input_block">
                        <label>Фамилия</label>
                        <input type="text" data-ng-model="newDate.secondName">
                    </div>
                    <div class="bns_input_block bns_input_block_sel bns_zi3">
                        <label>{{ newDate.relation || 'Родство' }}</label>
                        <input type="text" data-ng-class="{show: newDate.relation == 'Свой вариант'}" data-ng-model='$parent.$parent.customRelation'>
                        <ul>
                            <li data-ng-repeat="option in relationOptions">
                              <a href="#" data-ng-bind="option"
                               data-ng-click="$event.preventDefault();newDate.relation = option;"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="bns_select_date">
                        <label class="bns_select_date_head">Дата рождения</label>
                        <date-picker data-model="newDate.date"></date-picker>
                    </div>
                    <!-- 
                    <div class="bns_check_block">
                        <label>Уведомлять заранее</label>
                        <div class="bns_check">
                            <div class="bns_check_item bns_check_item_mr">
                                <input type="checkbox" id="email" data-ng-model='newDate.email_notify'>
                                <label for="email">e-mail</label>
                            </div>
                            <div class="bns_check_item">
                                <input type="checkbox" id="sms" data-ng-model='newDate.sms_notify'>
                                <label for="sms">sms</label>
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="bns_form_bottom">
                        <a href="#" data-ng-click="createDate(); $event.preventDefault()" data-ng-class="{bns_btn : true, bns_btn_disabled : !$parent.$parent.canSubmit}">
                            Сохранить
                        </a>
                        <a href="#" class="bns_btn js_close_form" data-ng-click="isFormOpened = false; $event.preventDefault()">
                            Отмена
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </magic-modal>


</div>