<div class="clearfix">
  <div class="container" ng-hide="$root.hide_all">
    <div class="header">{{ widget.texts.header }}</div>
    <div class="sub-header">{{ widget.texts.subheader }}</div>
      <div data-sailplay-actions class="clearfix">

        <div class="more_bonus_main">

          <div class="spm_row clearfix">

            <div class="lead action" data-ng-click="startNewLead = true">
              <div class="icon"></div>
              <div class="text">
                <div class="name">{{ widget.texts.name }}</div>
                <div class="points" data-ng-bind="(widget.options.points) + ' points'"></div>
              </div>
            
            </div>

            <div class="spm_col" style="float: none; display: block" data-ng-repeat="action in actions_custom()">
              <div class="mb_item action" data-ng-style="widget.styles.action">
                <div class="icon">
                  <img width="32" data-ng-src="{{ action.icon | sailplay_pic }}" alt="">
                </div>
                <div class="text" style="max-width: 115px; margin-top: 0">
                  <span class="name" data-ng-bind="action.name"></span>
                  <span class="points" data-ng-show="action.points" data-ng-bind="((action.points || 0) | number) + ' ' + (action.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))"></span>
                  <a class="sp_btn button_primary" data-ng-click="action_custom_select(action)">{{ action.button_text }}</a>
                </div>
              </div>
            </div>

            <div class="spm_col" style="float: none; display: block" data-ng-repeat="quiz in $parent.quiz_list" data-ng-if="quiz_list && quiz_list.length && ((!exist || !exist()) || !checkTag(quiz.tag, exist()))" >
              <div class="mb_item action"data-ng-style="widget.styles.action">
                <div class="mb_item_left">
                  <span class="action_name" data-ng-bind="quiz.name"></span>
                  <span class="action_points" data-ng-show="quiz.points" data-ng-bind="((quiz.points || 0) | number) + ' ' + (quiz.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))"></span>
                  <a class="sp_btn button_primary" data-ng-click="$event.preventDefault();open_quiz(quiz)">{{ quiz.button_text }}</a>
                </div>
                <div class="mb_item_right">
                  <img data-ng-src="{{ quiz.icon | sailplay_pic }}" alt="">
                </div>
              </div>
            </div>

          </div>

        </div>

        <magic-modal class="actions_selected_modal" data-ng-cloak data-show="$parent.action_selected">

          <div>

            <div class="action_image">
              <img class="gift_more_img" data-ng-src="{{ action_data(action_selected).pic | sailplay_pic }}"
                  alt="{{ action_data(action_selected).name }}">
            </div>

            <div class="action_tools">

              <p>
                <span class="modal_action_name" data-ng-bind="action_data(action_selected).name"></span>
              </p>

              <p style="margin-top: 10px;">
                <span class="modal_action_points" data-ng-bind="(action_selected.points | number) + ' ' + (selected_gift.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))"></span>
              </p>

              <p style="margin-top: 10px;">
                <span class="modal_action_description" data-ng-bind="action_data(action_selected).description"></span>
              </p>


              <p class="action_buttons">
              <span data-sailplay-action
                    data-styles="{{ action_styles(action_data(action_selected)) }}"
                    data-action="action_selected"
                    data-text="{{ action_data(action_selected).button_text }}">
                <span class="sp_btn button_primary">{{ action_data(action_selected).button_text }}</span>
              </span>
              </p>

            </div>

          </div>

        </magic-modal>

        <magic-modal class="actions_custom_selected_modal" data-ng-cloak data-show="$parent.action_custom_selected">

          <div data-sailplay-action-custom data-action="action_custom_selected"></div>

        </magic-modal>


        <magic-modal class="actions_custom_selected_modal" data-ng-cloak data-show="$parent.quiz.show">

          <div class="quiz_main">

            <div class="quiz_block" data-ng-if="$parent.quiz.data">

              <div class="quiz_block__title" data-ng-bind="$parent.quiz.data.name"></div>

              <div class="quiz_block__counter" data-ng-bind="$parent.quiz.step + ' / ' + $parent.quiz.data.data.length"></div>

              <div class="quiz_block__name" data-ng-bind="getCurrentTest().name"></div>

              <label data-ng-repeat="question in getCurrentTest().answers"
                    data-ng-switch="getCurrentTest().type"
                    data-ng-click="$event.preventDefault();change(question, getCurrentTest());">

                <input data-ng-switch-when="many" type="checkbox"
                      name="quiz_[[ $index ]]"
                      data-ng-checked="check(question)">

                <input data-ng-switch-when="one" type="radio"
                      name="quiz"
                      data-ng-checked="check(question)">

                <span data-ng-bind="question.text"></span>

              </label>

              <textarea name="variable" data-ng-show="needToShowVariable()"
                        data-ng-model="models.variable"></textarea>

              <div class="button_wrapper clearfix">

                  <span data-ng-click="prev();" class="quiz_block__btn prev"
                        data-ng-class="{type_disabled: $parent.quiz.step == 1}">Prev</span>

                <span data-ng-click="next();" class="quiz_block__btn next"
                      data-ng-class="{type_disabled: !canPressNext() }"
                      data-ng-bind="step == $parent.quiz.data.data.length ? 'Finish' : 'Next' ">next</span>

              </div>

            </div>

          </div>

        </magic-modal>

      </div>  
  </div>
  <magic-modal class="add-lead-form" data-ng-cloak data-show="startNewLead">
    <div class="mb_popup mb_popup_prof">
      <div class="mb_popup_top">
        <span>{{ widget.texts.form_header }}</span>
      </div>
      <form name="fill_profile_form" class="mb_popup_main mb_popup_main_mt" data-ng-submit="submit(widget.form_fields)">
        <div class="form_field" data-ng-repeat="field in widget.form_fields" data-ng-switch="field.input">
          <div data-ng-switch-when="image" class="avatar_upload clearfix">
            <img width="160px" data-ng-src="{{ (field.value | sailplay_pic) || 'http://saike.ru/sailplay-magic/dist/img/profile/avatar_default.png'}}"
              alt="">
          </div>
          <div data-ng-switch-when="text" class="clearfix"> 
            <label class="form_label">{{ field.label }}</label>
            <input class="form_input" type="text" placeholder="{{ field.placeholder }}" data-ng-model="field.value">
          </div>
          <div data-ng-switch-when="date" class="clearfix">
            <label class="form_label">{{ field.label }}</label>
            <date-picker data-model="field.value"></date-picker>
          </div>
          <div data-ng-switch-when="select" class="clearfix">
            <label class="form_label">{{ field.label }}</label>
            <div class="magic_select form_input">
              <select data-ng-model="field.value" ng-init="field.value = field.data[0].value" data-ng-options="item.value as item.text for item in field.data"></select>
            </div>
          </div>
          <div data-ng-switch-when="phone" class="clearfix">
            <label class="form_label">{{ field.label }}</label>
            <input class="form_input" type="text" data-model-view-value="true" data-ui-mask="{{ field.placeholder }}" data-ng-model="field.value">
          </div>
          <div data-ng-switch-when="email" class="clearfix">
            <label class="form_label">{{ field.label }}</label>
            <input class="form_input" type="email" placeholder="{{ field.placeholder }}" data-ng-model="field.value">
          </div>
        </div>
        <div class="answ_left">
          <button type="button" class="sp_btn button_primary" data-ng-click="$parent.$parent.startNewLead = false">Back</button>
        </div>
        <div class="answ_right">
          <button type="submit" class="sp_btn button_primary">{{ widget.texts.submit }}</button>
        </div>
      </form>
    </div>
  </magic-modal>
</div>