<div class="container clearfix soligent-sa-widget" data-ng-show="user && user()">

    <div class="soligent-sa-wrapper clearfix">

        <div class="soligent-sa-block soligent-sa-block_current" data-ng-if="current_status">

            <div class="soligent-sa-block__title" data-ng-bind="'YOUR ' + current_status.name + ' BENEFITS'"></div>

            <div class="soligent-sa-block__icon"
                 style="background-image: {{ current_status.icon | background_image }}"></div>

            <ul class="soligent-sa-block-list">

                <li class="soligent-sa-block-list__item" data-ng-repeat="text in current_status.texts track by $index"
                    data-ng-bind="text"></li>

            </ul>

        </div>

        <div class="soligent-sa-block soligent-sa-block_next" data-ng-if="next_status">

            <div class="soligent-sa-block__title"
                 data-ng-bind="'SPEND $' + (next_status.sum | number) + ' THIS YEAR TO BECOME A ' + next_status.name + ' MEMBER'"></div>

            <div class="soligent-sa-block__icon"
                 style="background-image: {{ next_status.icon | background_image }}"></div>

            <ul class="soligent-sa-block-list">

                <li class="soligent-sa-block-list__item" data-ng-repeat="text in next_status.texts track by $index"
                    data-ng-bind="text"></li>

            </ul>

            <a class="soligent-sa-block-link"
               target="_blank"
               data-ng-click="soligent_status.show = true"
               data-ng-if="widget.options.next_status_link"
               data-ng-bind="widget.options.next_status_link.title"></a>

        </div>

        <magic-modal data-width="widget.options.popup_width", data-src="widget.options.popup_image" class="soligent-sa_link-popup" data-show="soligent_status.show">
            <img data-ng-src="{{ widget.options.popup_image }}" alt="">
            <p data-ng-show="widget.options.popup_text" data-ng-bind="widget.options.popup_text"></p>
        </magic-modal>

        <div class="soligent-sa-block soligent-sa-block_monthly_special"
             data-ng-if="$parent.widget.options.monthly_special">

            <div class="soligent-sa-block__title">MONTHLY SPECIAL</div>

            <div class="soligent-sa-block__icon"
                 style="background-image: {{ $parent.widget.options.monthly_special.icon | background_image }}"></div>

            <ul class="soligent-sa-block-list">

                <li class="soligent-sa-block-list__item"
                    data-ng-repeat="text in $parent.widget.options.monthly_special.texts track by $index"
                    data-ng-bind="text"></li>

            </ul>

        </div>

        <div class="soligent-sa-block monthly_special_account" data-ng-if="variables">

            <div class="soligent-sa-block__title">YOUR ACCOUNT EXECUTIVE:</div>

            <div class="soligent-sa-block__info" data-ng-bind="variables.sales_rep || 'Name N/A'"></div>

            <div class="soligent-sa-block__info" data-ng-bind="variables.sales_rep_phone || 'Phone N/A'"></div>

            <div class="soligent-sa-block__info" data-ng-bind="variables.sales_rep_email || 'Email N/A'"></div>

            <div class="soligent-sa-block__info">
                <span class="soligent-sa-block__info_black">ACCOUNT #:</span>
                <span data-ng-bind="$parent.user().user.origin_user_id || 'N/A'"></span>
            </div>

        </div>

    </div>

</div>