<div class="sailplay magic">

  <style data-ng-repeat="tool in MAGIC_CONFIG.tools" data-widget-style="tool.styles"></style>

  <div class="bn_wrap clearfix">

    <div class="clearfix" data-ng-repeat="widget in MAGIC_CONFIG.widgets" data-ng-switch="widget.name">

      <sailplay-magic-profile data-ng-switch-when="profile" data-config="widget"></sailplay-magic-profile>

      <sailplay-magic-badges data-ng-switch-when="badges" data-config="widget"></sailplay-magic-badges>

      <sailplay-magic-gifts data-ng-switch-when="gifts" data-config="widget"></sailplay-magic-gifts>

      <sailplay-magic-actions data-ng-switch-when="actions" data-config="widget"></sailplay-magic-actions>

    </div>

  </div>

  <notifier></notifier>

</div>