<div class="container" data-ng-show="widget.enabled" data-ng-cloak>

<div class="bns_top" data-ng-style="{'background-image': ('https://sailplays3.cdnvideo.ru/media/assets/assetfile/5a7a040bc9a6322d9a229f3c0a8889db.jpg' | background_image)}">
    <h2 class="bns_head" data-ng-bind="user().user.first_name + ', Добро пожаловать'">
    </h2>
    <div class="bns_desc">
        <p>
            На этой странице Вы можете тратить накопленные баллы на подарки, следить за специальными акциями и памятными датами, а также выполнять простые задания за дополнительные баллы.
        </p>
    </div>
    <a href="#" class="bns_linck js_open_info" data-ng-click="termsOpened = true; $event.preventDefault()">
        Условия бонусной программы
    </a>
</div>

<magic-modal class="bns_overlay bns_overlay_about" data-ng-cloak data-show="termsOpened">
    <div class="bns_overlay_inner">
        <div class="bns_over_left">
            <h4 class="bns_head">
                Условия бонусной программы
            </h4>
            <a href="#" class="close" data-ng-click="$parent.close()"></a>
            <div class="bns_about">
                Описание условий бонусной программы. Расширение производства потребовало увеличения и обновления станочного парка и роста числа сотрудников предприятия. Спрос на ювелирную продукцию
                был огромным, поэтому завод работал в две, а то и в три смены, и трудилось на нем до полутора тысяч человек.
                <br><br>
                Остро ощущалась нехватка производственных помещений. Наконец,
                в 1968–1971 годах по решению Совета Министров СССР в Бронницах возводятся новые современные корпуса предприятия, в которых разместились все его цеха и административные службы, было закуплено самое современное оборудование ведущих мировых производителей.
                <br><br>
                Огромное главное здание завода, окруженное березами и цепью голубых елей, после реконструкции 2007 года надежно служит ему
                и сегодня. Описание условий бонусной программы. Расширение производства потребовало увеличения и обновления станочного парка и роста числа сотрудников предприятия. Спрос на ювелирную продукцию был огромным, поэтому завод работал в две, а то и в три смены, и трудилось на нем до полутора тысяч человек.
                Остро ощущалась нехватка производственных помещений. Наконец,
                в 1968–1971 годах по решению Совета Министров СССР в Бронницах возводятся новые современные корпуса предприятия, в которых разместились все его цеха и административные службы, было закуплено самое современное оборудование ведущих мировых производителей.
                <br><br>
                Огромное главное здание завода, окруженное березами и цепью голубых елей, после реконструкции 2007 года надежно служит ему и сегодня.
                Описание условий бонусной программы. Расширение производства потребовало увеличения и обновления станочного парка и роста числа сотрудников предприятия. Спрос на ювелирную продукцию
                был огромным, поэтому завод работал в две, а то и в три смены, и трудилось на нем до полутора тысяч человек.
                <br><br>
                Остро ощущалась нехватка производственных помещений. Наконец,
                в 1968–1971 годах по решению Совета Министров СССР в Бронницах возводятся новые современные корпуса предприятия, в которых разместились все его цеха и административные службы, было закуплено самое современное оборудование ведущих мировых производителей.
                <br><br>
                Огромное главное здание завода, окруженное березами и цепью голубых елей, после реконструкции 2007 года надежно служит ему
                и сегодня. Описание условий бонусной программы. Расширение производства потребовало увеличения и обновления станочного парка и роста числа сотрудников предприятия. Спрос на ювелирную продукцию был огромным, поэтому завод работал в две, а то и в три смены, и трудилось на нем до полутора тысяч человек.
                Остро ощущалась нехватка производственных помещений. Наконец,
                в 1968–1971 годах по решению Совета Министров СССР в Бронницах возводятся новые современные корпуса предприятия, в которых разместились все его цеха и административные службы, было закуплено самое современное оборудование ведущих мировых производителей.
                <br><br>
                Огромное главное здание завода, окруженное березами и цепью голубых елей, после реконструкции 2007 года надежно служит ему и сегодня.


            </div>
        </div>
    </div>
</magic-modal>

</div>