<div class="clearfix">

  <div class="status-list container">

    <div class="next_status_info">

      <div class="next_status_name">
        {{ widget.texts.next_status }} <span data-ng-style="{ color: get_next_status().status.color  }">{{ get_next_status().status.status }}</span>
      </div>

      <div class="next_status_offset">
        {{ widget.texts.next_status_offset }} {{ get_next_status().offset }}
      </div>

    </div>

    <div class="status-list__wrapper" data-sailplay-statuses data-ng-cloak>

      <div class="status-list__progress element-progress progress_line"
           data-ng-style="getProgress(user().user_points, _statuses)"></div>

      <div class="status-list__item element-item"
           data-ng-class="{ type_active : item.points <= user().user_points.confirmed + user().user_points.spent + user().user_points.spent_extra }"
           data-ng-repeat="item in _statuses"
           data-ng-style="generateOffset($index, _statuses)">

        <div class="status-list__item-point element-item-point"></div>

        <div class="element-item-point-inner" data-ng-style="{ backgroundColor: item.color }"></div>

        <div class="status-list__item-name element-item-name" data-ng-bind="item.name"></div>
        <div class="status-list__item-status element-item-status" data-ng-if="item.status" data-ng-bind="item.status"
             style="{{ (item.color) ? ('color: ' +  item.color) : '' }}"></div>

      </div>

    </div>

  </div>
</div>