<div class="container clearfix" id="magic_actions">

    <div class="card_quests" data-sailplay-actions>

        <h3 class="card_quests_header">
            <span class="header">{{ widget.texts.header }}</span>
        </h3>

        <h4 class="card_quests_caption">
            <span class="caption">{{ widget.texts.caption }}</span>
        </h4>

        <div class="card_quests_list clearfix">

            <div class="spm_row clearfix notEvents">

                <div class="spm_col_title" data-ng-bind="widget.texts.social_quests"></div>

                <div class="spm_col_empty" data-ng-if="!(actions_custom() | onlyEvents).length && !actions().actions.length"
                     data-ng-bind="widget.texts.empty_list"></div>

                <div class="spm_col quest_card_container" data-ng-repeat="action in actions().actions">

                    <div class="quest_card" title="{{ action_data(action).name }}">

                        <div class="quest_card_image">
                            <img data-ng-src="{{ action_data(action).pic | sailplay_pic }}" alt="">
                        </div>

                        <div class="quest_card_tools">

                            <div class="quest_card_info">
                                <span class="quest_card_name ellipsis" data-ng-bind="action_data(action).name"></span>
                                <span class="quest_card_points ellipsis" data-ng-show="action.points"
                                      data-ng-bind="((action.points || 0) | number) + ' ' + (action.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))"></span>
                            </div>

                            <div class="quest_card_buttons">
                                <a class="button_primary" data-ng-click="action_select(action)">{{
                                    action_data(action).button_text }}</a>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="spm_col quest_card_container" data-ng-repeat="action in actions_custom() | withoutEvents">

                    <div class="quest_card" title="{{ action.name }}">

                        <div class="quest_card_image">
                            <img data-ng-src="{{ action.icon | sailplay_pic }}" alt="">
                        </div>

                        <div class="quest_card_tools">

                            <div class="quest_card_info">
                                <span class="quest_card_name ellipsis" data-ng-bind="action.name"></span>
                                <span class="quest_card_points ellipsis" data-ng-show="action.points"
                                      data-ng-bind="((action.points || 0) | number) + ' ' + (action.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))"></span>
                            </div>

                            <div class="quest_card_buttons">
                                <a class="button_primary" data-ng-click="action_custom_select(action)"
                                   data-ng-bind="action.button_text"></a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="spm_row clearfix events">

                <div class="spm_col_title" data-ng-bind="widget.texts.event_quests"></div>

                <div class="spm_col_empty" data-ng-if="!(actions_custom() | onlyEvents).length"
                     data-ng-bind="widget.texts.empty_list"></div>

                <div class="spm_col quest_card_container" data-ng-repeat="action in actions_custom() | onlyEvents">

                    <div class="event_card" title="{{ action.name | removePrefix }}">

                        <div class="event_card_image">
                            <img data-ng-src="{{ action.icon | sailplay_pic }}" alt="">
                        </div>

                        <div class="event_card_info">
                            <span class="event_card_name ellipsis" data-ng-bind="action.name | removePrefix"></span>
                            <span class="event_card_points button_primary"
                                  data-ng-click="action_custom_select(action)"
                                  data-ng-bind="((action.points || 0) | number) + ' ' + (action.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))"></span>
                        </div>


                    </div>

                </div>

            </div>

        </div>

        <magic-modal class="actions_selected_modal" data-ng-cloak data-show="$parent.action_selected">

            <div>

                <div class="action_image">
                    <img class="gift_more_img" data-ng-src="{{ action_data(action_selected).pic | sailplay_pic }}"
                         alt="{{ action_data(action_selected).name }}">
                </div>

                <div class="action_tools">

                    <p>
                        <span class="modal_action_name" data-ng-bind="action_data(action_selected).name"></span>
                    </p>

                    <p style="margin-top: 10px;">
                        <span class="modal_action_points"
                              data-ng-bind="(action_selected.points | number) + ' ' + (selected_gift.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))"></span>
                    </p>

                    <p style="margin-top: 10px;">
                        <span class="modal_action_description"
                              data-ng-bind="action_data(action_selected).description"></span>
                    </p>


                    <p class="action_buttons">
            <span data-sailplay-action
                  data-styles="{{ action_styles(action_data(action_selected)) }}"
                  data-action="action_selected"
                  data-text="{{ action_data(action_selected).button_text }}">
              <span class="sp_btn button_primary">{{ action_data(action_selected).button_text }}</span>
            </span>
                    </p>

                </div>

            </div>

        </magic-modal>

        <magic-modal class="actions_custom_selected_modal" data-ng-cloak data-show="$parent.action_custom_selected">

            <div data-sailplay-action-custom data-action="action_custom_selected"></div>

        </magic-modal>

    </div>

</div>