<div class="container_nc clearfix" id="magic_actions">

  <!--div class="triangle"></div-->

  <div class="card_quests">
    <div class="grid_buttons_container">
      <a class="gifts_grid__more_btn button_primary" data-ng-show="!showMore" data-ng-click="showMoreUpdate(true)" data-ng-bind="widget.texts.more"></a>
      <a class="gifts_grid__more_btn button_primary" data-ng-show="showMore" data-ng-click="showMoreUpdate(false)" data-ng-bind="widget.texts.less"></a>
    </div>

    <h3 class="card_quests_header">
      <span class="header">{{ widget.texts.header }}</span>
    </h3>

    <h4 class="card_quests_caption">
      <span class="caption">{{ widget.texts.caption }}</span>
    </h4>

    <div data-sailplay-actions class="card_quests_list clearfix">

      <div class="spm_row clearfix">

          <div class="spm_col quest_card_container" data-ng-repeat="action in actions().actions | filter:filter">

            <div class="quest_card" title="{{ action_data(action).name }}">

              <div class="bg-active-container">
                <div class="bg-active"></div>
              </div>

              <div class="quest_card_image" data-ng-style="{'background-image': 'url('+((action_data(action).pic | sailplay_pic) || default_avatar)+')' }">
              </div>

              <div class="quest_card_tools">

                <div class="quest_card_info">
                  <span class="quest_card_name" data-ng-bind="action_data(action).name"></span>
                  <span class="quest_card_points" data-ng-show="action.points" data-ng-bind="((action.points || 0) | number) + ' ' + (action.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))"></span>
                  <span class="quest_card_button" data-sailplay-action
                  data-styles="{{ action_styles(action_data(action)) }}"
                  data-action="action"
                  data-text="{{ ((action.points || 0) | number) + ' ' + (action.points | sailplay_pluralize:( 'points.texts.pluralize' | tools)) }}">
                    <span class="button_primary" data-ng-bind="((action.points || 0) | number) + ' ' + (action.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))"></span>
                  </span>
                </div>

              </div>

            </div>

          </div>

          <div class="spm_col quest_card_container" data-ng-repeat="action in actions_custom() | filter:filter">

            <div class="quest_card" title="{{ action.name }}">

              <div class="bg-active-container">
                <div class="bg-active"></div>
              </div>

              <div class="quest_card_image" data-ng-style="{'background-image': 'url('+((action.icon | sailplay_pic) || default_avatar)+')' }">
              </div>

              <div class="quest_card_tools">

                <div class="quest_card_info">
                  <span class="quest_card_name" data-ng-bind="action.name"></span>
                  <span class="quest_card_points" data-ng-show="action.points" data-ng-bind="((action.points || 0) | number) + ' ' + (action.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))"></span>
                  <span class="button_primary quest_card_button" data-ng-click="action_custom_select(action)" data-ng-bind="!action.points ? action.button_text : ((action.points || 0) | number) + ' ' + (action.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))"></span>
                  </span>
                </div>

              </div>

            </div>

          </div>

        </div>


      <magic-modal class="actions_selected_modal" data-ng-cloak data-show="$parent.action_selected">

        <div>

          <div class="action_image">
            <img class="gift_more_img" data-ng-src="{{ action_data(action_selected).pic | sailplay_pic }}"
                 alt="{{ action_data(action_selected).name }}">
          </div>

          <div class="action_tools">

            <p>
              <span class="modal_action_name" data-ng-bind="action_data(action_selected).name"></span>
            </p>

            <p style="margin-top: 10px;">
              <span class="modal_action_points" data-ng-bind="(action_selected.points | number) + ' ' + (selected_gift.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))"></span>
            </p>

            <p style="margin-top: 10px;">
              <span class="modal_action_description" data-ng-bind="action_data(action_selected).description"></span>
            </p>


            <p class="action_buttons">
              <span data-sailplay-action
                  data-styles="{{ action_styles(action_data(action_selected)) }}"
                  data-action="action_selected"
                  data-text="{{ action_data(action_selected).button_text }}">
              <span class="sp_btn button_primary">{{ action_data(action_selected).button_text }}</span>
            </span>
            </p>

          </div>

        </div>

      </magic-modal>

      <magic-modal class="actions_custom_selected_modal" data-ng-cloak data-show="$parent.action_custom_selected">

        <div data-sailplay-action-custom data-action="action_custom_selected"></div>

      </magic-modal>

    </div>

  </div>
</div>