<div class="container clearfix" data-sailplay-actions id="magic_actions">
  <div class="bns_qust">
    <div class="bns_head">
        Задания за баллы
    </div>
    <div class="bns_qust_main">
      <a href="#" class="bns_qust_item" data-ng-repeat="action in actions().actions | filter:filter" title="{{ action_data(action).name }}">
          <div class="bns_qust_left">
              <img src="./../../src/img/qust1.png" alt=""> 
          </div>
          <div class="bns_qust_right">
            <span class="bns_bal" data-ng-show="action.points" data-ng-bind="((action.points || 0) | number) + ' ' + (action.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))">
                
            </span>
                <span class="bns_name" data-ng-bind="action_data(action).name">
                
            </span>
          </div>
          <div class="bns_qust_over">
              <span class="bns_btn" data-sailplay-action
                          data-styles="{{ action_styles(action_data(action)) }}"
                          data-action="action"
                          data-text="{{ action_data(action).button_text }}">
                <span class="">{{ action_data(action).button_text }}</span>
              </span>
          </div>
      </a>
    </div>

    <!-- custom actions -->

    <div class="bns_qust_main">
      <a href="#" class="bns_qust_item" data-ng-repeat="action in actions_custom() | filter:filter" title="{{ action.name }}">>
          <div class="bns_qust_left">
              <img data-ng-src="{{ action.icon | sailplay_pic }}" alt=""> 
          </div>
          <div class="bns_qust_right">
            <span class="bns_bal" data-ng-show="action.points" data-ng-bind="((action.points || 0) | number) + ' ' + (action.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))">
                
            </span>
                <span class="bns_name" data-ng-bind="action_data(action).name">
                
            </span>
          </div>
          <div class="bns_qust_over">
              <span data-ng-click="action_custom_select(action)">{{ action.button_text }}</span>
          </div>
      </a>
    </div>
  </div>
</div>
  

          <div class="spm_col quest_card_container" data-ng-repeat="action in actions_custom() | filter:filter">

            <div class="quest_card" title="{{ action.name }}">

              <div class="quest_card_image">
                <img data-ng-src="{{ action.icon | sailplay_pic }}" alt="">
              </div>

              <div class="quest_card_tools">

                <div class="quest_card_info">
                  <span class="quest_card_name ellipsis" data-ng-bind="action.name"></span>
                  <span class="quest_card_points ellipsis" data-ng-show="action.points" data-ng-bind="((action.points || 0) | number) + ' ' + (action.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))"></span>
                </div>

                <div class="quest_card_buttons">
                  <a class="button_primary" data-ng-click="action_custom_select(action)">{{ action.button_text }}</a>
                </div>

              </div>

            </div>


        </div>


      <magic-modal class="bns_overlay bns_overlay_gift" data-ng-cloak data-show="$parent.action_selected">

        <div>

          <div class="action_image">
            <img class="gift_more_img" data-ng-src="{{ action_data(action_selected).pic | sailplay_pic }}"
                 alt="{{ action_data(action_selected).name }}">
          </div>

          <div class="action_tools">

            <p>
              <span class="modal_action_name" data-ng-bind="action_data(action_selected).name"></span>
            </p>

            <p style="margin-top: 10px;">
              <span class="modal_action_points" data-ng-bind="(action_selected.points | number) + ' ' + (selected_gift.points | sailplay_pluralize:( 'points.texts.pluralize' | tools ))"></span>
            </p>

            <p style="margin-top: 10px;">
              <span class="modal_action_description" data-ng-bind="action_data(action_selected).description"></span>
            </p>


            <p class="action_buttons">
            <span data-sailplay-action
                  data-styles="{{ action_styles(action_data(action_selected)) }}"
                  data-action="action_selected"
                  data-text="{{ action_data(action_selected).button_text }}">
              <span class="sp_btn button_primary">{{ action_data(action_selected).button_text }}</span>
            </span>
            </p>

          </div>

        </div>

      </magic-modal>

      <magic-modal class="bns_overlay bns_overlay_gift" data-ng-cloak data-show="$parent.action_custom_selected">

        <div data-sailplay-action-custom data-action="action_custom_selected"></div>

      </magic-modal>

    </div>

  </div>
</div>