<div class="container welcome_container clearfix" data-ng-show="widget.enabled" data-ng-cloak>

    <div class="container_left">
        <div class="container_header" data-ng-bind="widget.texts.header"></div>
        <div class="container_text" data-ng-bind-html="widget.texts.text | to_trusted"></div>
    </div>

    <div class="container_right">
        <div class="container_login_header" data-ng-bind="widget.texts.login_header"></div>
        <a href="#"
           class="container_login_button"
           data-ng-click="$event.preventDefault();login('remote');"
           data-ng-bind="widget.texts.login_button"></a>

        <a data-ng-href="{{ widget.options.link.terms_and_conditions.url }}"
           class="container_terms_and_conditions_button"
           target="{{widget.options.link.terms_and_conditions.target || '_self'}}"
           data-ng-bind="widget.texts.terms_and_conditions_button"></a>
        <!--data-ng-click="$event.preventDefault();popup = 'terms_and_conditions'"-->

        <a data-ng-href="{{ widget.options.link.faq.url }}"
           class="container_faq_button"
           target="{{widget.options.link.faq.target || '_self'}}"
           data-ng-bind="widget.texts.faq_button"></a>
           <!--data-ng-click="$event.preventDefault();popup = 'faq'"-->
    </div>

    <!--<magic-modal class="bns_overlay bns_overlay_welcome" data-show="popup">-->
        <!--<iframe data-ng-if="popup" src="{{ widget.options.popup[$parent.popup] | trustUrl }}" frameborder="0"></iframe>-->
    <!--</magic-modal>-->

</div>

