<div>

  <div class="form_date form_date__day">
    <span class="not_selected" data-ng-bind="model[0] || date.placeholder.day"></span>
  </div>
  <div class="form_date form_date__month">
    <span class="not_selected" data-ng-bind="date.months[model[1]] || date.placeholder.month"></span>
  </div>
  <div class="form_date form_date__year" >
    <span data-ng-bind="model[2] || date.placeholder.year"></span>
    <div class="form_date__popup">
      <a href="#" data-ng-repeat="year in years" data-ng-bind="year"
         data-ng-click="$event.preventDefault();model[2] = year;"></a>
    </div>
  </div>

</div>