@import (reference) "../../theme/mixins";

.spm_wrapper {

  .spm_tools_widget {

    position: relative;
    display: inline-block;
    .box-sizing(border-box);
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;

  }

}

