<div id="points-status" class="bon_choice_main container clearfix">
<!--
    <div class="points-status__wrapper clearfix">

        <div class="points-status__left points_block clearfix" data-ng-if="user()">

            <span class="points_confirmed">
                <span class="points_confirmed_value" data-ng-bind="user().user_points.total | number"></span>
                <span class="points_confirmed_name"
                    data-ng-bind="user().user_points.total | sailplay_pluralize: ('points.texts.pluralize' | tools)"></span>
            </span>

            <a class="button_primary history_button" href="#"
               data-ng-click="$event.preventDefault(); $parent.history = true;"
               data-ng-bind="widget.texts.history_button"></a>

        </div>

        <div class="points-status__right progress_block clearfix">

            <div class="progress_line_main">

                <div class="progress_line_bg progress_bar progress_bar_border"></div>

                <div class="progress_line progress_bar_filled"
                     data-ng-style="{ width: getProgress(user().user_points.total, widget.options.status_list) }">
                </div>

                <div class="gift_item progress_bar_border"
                     data-ng-repeat="item in widget.options.status_list track by $index"
                     data-ng-class="{ act : item.points <= user().user_points.total, progress_bar_gift_filled: item.points <=user().user_points.total, progress_bar_gift: item.points > user().user_points.total}"
                     data-ng-style="{ left: (100/widget.options.status_list.length * ($index+1)) + '%', 'background-image': 'url(' + item.image +')' }">

                    <span class="gift_item_hint" data-ng-bind="item.points | number"></span>

                </div>

            </div>

        </div>

    </div>
-->
    <magic-modal class="bns_overlay bns_overlay_hist" data-show="history">

        <div class="bns_overlay_inner" data-sailplay-history data-sailplay-profile>

            <h4 class="bns_head" data-ng-bind="widget.texts.history.header">
            </h4>
            <a href="#" class="close" data-ng-click = "$parent.$parent.close(); $event.preventDefault()"></a>
            <div class="table_wrap">
                <table class="bns_table">
                    <tr class="tr_head">
                        <td>Дата и время</td>
                        <td>Действие</td>
                        <td>Начисление</td>
                        <td>Списание</td>
                        <td>Срок действия</td>
                    </tr>

                    <tbody>

                    <tr data-dir-paginate="item in history() | itemsPerPage:10" data-pagination-id="history_pages">
                        <td>
                            <span data-ng-bind="item.action_date | amDateFormat:'D MMM, hh:mm'"></span>
                        </td>
                        <td>
                            <span data-ng-bind="item | get_bonus_name"></span>
                        </td>
                        <td data-ng-class="{bns_null: (item | get_bonus_add) == 0}">
                            <span data-ng-bind="(item | get_bonus_add) + ' баллов'"></span>
                        </td>
                        <td data-ng-class="{bns_null: (item | get_bonus_sub) == 0}">
                            <span data-ng-bind="(item | get_bonus_sub) + ' баллов'""></span>
                        </td>
                        <td>
                            <span data-ng-bind="item | get_bonus_expiration"></span>
                        </td>
        <!--                <td>
                            <span class="modal_history_points" data-ng-if="item.points_delta"
                                  data-ng-bind="((item.points_delta|number) || 0) + ' ' + (item.points_delta | sailplay_pluralize:('points.texts.pluralize' | tools))">
                            </span>
                        </td> -->
                    </tr>

                    </tbody>
                </table>
            </div>


            <dir-pagination-controls data-max-size="7" data-pagination-id="history_pages"
                                     data-template-url="points_status.history_pagination"
                                     data-auto-hide="true"></dir-pagination-controls>
        </div>

    </magic-modal>

</div>