@import (reference) "../../src/theme/mixins";
@import (reference) "../../src/theme/helpers";
@import (reference) "../../src/theme/colors";

.spm_wrapper {

  .gifts_grid_widget {

    overflow: visible;

    & .parallax-img, & .parallax-img-s {
      height: inherit;
      width: 100vw;
      position: absolute;
      display: none;
    }

    @media screen and (max-width: 650px) {
      & .parallax-img-s {
        display: block;
      }
    }

    @media screen and (min-width: 651px) {
      & .parallax-img {
        display: block;
      }
    }

    .triangle {
      border-color: white transparent transparent transparent;
    }

    background-color: #229fd3;

    padding-bottom: 6px;

    .gifts_grid {

      &___header {
        width: 90%;
        display: block;
        margin: 0 auto;
        color: white;
        text-align: center;
        padding-top: 50px;
        font-family: "raleway";
        font-style: italic;
        font-weight: 900;
        font-size: 40px;
      }

      &___caption {
        padding-top: 5px;
        width: 90%;
        display: block;
        color: white;
        text-align: center;
        font-family: "open sans condensed";
        font-weight: 300;
        font-size: 26px;
        margin: 0 auto;
        padding-bottom: 70px;
      }

      &__wrapper {
        width: 100%;
        max-width: 1300px;
        height: auto;
        margin: 0 auto;
        position: relative;
      }

      &__blocks {
        display: block;
        width: 100%;
        padding: 0 50px;
        box-sizing: border-box;
        position: relative;
        margin: 0 auto;
        &.spoilered {
          @media screen and (min-width: 651px) {
            max-height: 520px;
            overflow: hidden;
          }
        }
        @media (min-width: 940px) and (max-width: 1220px) {
          max-width: 960px;
        }
        @media (min-width: 651px) and (max-width: 939px) {
          max-width: 660px;
        }
      }

      &__block {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      &__spoiler {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(to bottom, transparent 0%,#229fd3 100%);
      }

      &__more_btn {
        transform: translateY(30px);
        text-transform: lowercase;
        font-family: 'raleway';
        font-style: italic;
        font-size: 22px;
        display: block;
        background-color: #333;
        color: white;
        width: 180px;
        margin: 0 auto;
        padding: 15px;
        text-align: center;
      }

      &__item {
        border-radius: 10px;
        background-color: white;
        width: 20%;
        height: auto;
        float: left;
        box-sizing: border-box;
        padding: 30px;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 10px;
        min-height: 389px;
        min-width: 260px;

        @media (max-width: 650px) {
          width: 100%;
          max-width: 360px;
        }

        &-img {
          display: inline-block;
          width: 150px;
          margin: 10px auto;
          @media screen and (max-width: 650px) {
            height: auto;
            margin: 10px auto;
            max-width: 250px;
          }
        }

        &-name {
          margin-bottom: 10px;
          padding-top: 30px;
          font-size: 20px;
          display: inline-block;
          text-align: left;
          width: 100%;
          line-height: 1.1;
          font-family: "open sans condensed";
          font-weight: bold;
          text-transform: uppercase;
        }

        &-points {
          display: inline-block;
          width: 100%;
          font-size: 24px;
        }

        &-button {
          color: #229fd3;
          background-color: transparent !important;
          display: inline-block;
          padding: 10px;
          padding-left: 0px;
          font-family: "raleway";
          font-style: italic;
          font-size: 22px;
          position: absolute;
          bottom: 30px;
          &:not(.modal):hover {
            min-width: 160px;
            padding-left: 10px;
            background-color: black !important;
            color:white;
          }
          @media screen and (max-width: 650px) {
            padding-left: 10px;
            background-color: #333 !important;
            color:white;
          }
        }

      }

      &__arrow {
        width: 50px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        &_l {
          left: 0;
        }

        &_r {
          right: 0;
        }

      }

    }
    @media screen and (min-width: 651px) {
      .xs-gifts {
        display: none;
      }
    }

    @media screen and (max-width: 650px) {
      .gifts_grid__wrapper {
        display: none;
      }
      .bon_item {
        display: inline-flex !important;
        justify-content: center;
      }
      .controls {
        margin: 0 auto;
        height: 50px;
        width: 180px;
        border: 1px solid white;
        border-radius: 8px;
        box-sizing: border-box;
        display: flex;
        & .right {
          transform: rotate(180deg);
        }
        & .left, & .right {
          height: 100%;
          width: 30%;
          box-sizing: border-box;
          background-image: url(https://sailplays3.cdnvideo.ru/media/assets/assetfile/be2020d8e68e175f24134dfac5f1b684.png);
          background-size: 12px;
          background-repeat: no-repeat;
          background-position: center;
        }
        & .current {
          height: 100%;
          width: 40%; 
          border-left: 1px solid white;
          border-right: 1px solid white;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-family: "arial";
          font-size: 20px;
        }
      }
    }
    .modal_gift_container .bon_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      .headers-container {
        color: white;
        margin: 0 auto;
        width: 300px;
      }
      & h4 {
        color: white;
        font-family: 'open sans condensed';
        font-weight: 300;
        opacity: 1;
        font-size: 19px;
      } 
      & h3 {
        font-style: italic;
        font-family: 'raleway';
        font-weight: 900;
      }
      & .gifts_grid__item {
        width: 270px;
        height: 360px;
        margin-bottom: 24px;
      }
      & .button_primary {
        width: 300px;
        padding: 5px;
        font-size: 20px;
      }
    }
  }

}

