@import (reference) "../../src/theme/mixins";
@import (reference) "../../src/theme/helpers";
@import (reference) "../../src/theme/colors";

.spm_wrapper {

  .gifts_grid_widget {

    .gifts_grid {

      &__header {
        width: 90%;
        display: block;
        margin: 0 auto;
      }

      &__caption {
        width: 90%;
        display: block;
        margin: 0 auto;
      }

      &__wrapper {
        width: 100%;
        max-width: 1200px;
        height: auto;
        margin: 0 auto;
        position: relative;
      }

      &__blocks {
        display: block;
        width: 100%;
        padding: 0 50px;
        box-sizing: border-box;
        position: relative;
        @media screen and (max-width: 1199px) {
          padding: 0 !important;
        }
      }

      &__block {
        width: 100%;
        height: auto;        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
      }

      &__item {
        width: 32%;
        height: auto;
        float: left;
        box-sizing: border-box;
        padding: 3%;
        position: relative;

        @media (max-width: 800px) {
          width: 49%;
        }

        @media (max-width: 500px) {
          width: 100%;
        }

        &-img {
          display: inline-block;
          width: 100%;
        }

        &-name {
          display: inline-block;
          width: 100%;
        }

        &-points {
          display: inline-block;
          width: 100%;
        }

        &-button {
          display: inline-block;
        }

      }

      &__arrow {
        width: 50px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;

        &_l {
          left: 0;
        }

        &_r {
          right: 0;
        }

      }

    }

  }

}