desktop = 1170px
tablet = 900px
mobile = 440px
animationTime = 0.5s

.spm_profile_ti 
    
    .ti_wrapper
        color black
        font-family 'Circe'
        overflow hidden

    .ti_container
        width 100%
        max-width desktop
        margin auto
        position relative
        box-sizing border-box
        @media screen and (max-width: desktop)
            padding 0 80px
        @media screen and (max-width: tablet)
            padding 0 50px
        @media screen and (max-width: mobile)
            padding 0 10%

    .ti_button
            border solid 3px black 
            text-align center
            background white
            box-sizing border-box
            text-transform uppercase
            font-size 16px
            color black
            font-weight 900
            padding 0
            text-decoration none
            display block
            width 100%
            -webkit-appearance none
            transition animationTime ease
            &.type_big
                height 80px
                line-height 76px
            &.type_small
                height 48px
                line-height 44px
            &:hover
                color white
                background black

    .ti_stores
        .ti_stores_group
            width 100%
            display flex
            justify-content space-between
            align-items center
            flex-wrap wrap
            padding-bottom 90px
            &.type_1
                .ti_stores_progress_value
                    background-image linear-gradient(to bottom, #fcdaff, #ffc2d5)
                .ti_stores_item.type_fact
                    background-image linear-gradient(to top, #fcdaff, #ffc2d5)
            &.type_2
                .ti_stores_progress_value
                    background-image linear-gradient(to bottom, #f9f5a3, #fed0bc)
                .ti_stores_item.type_fact
                    background-image linear-gradient(to top, #f9f5a3, #fed0bc)
            &.type_3
                .ti_stores_progress_value
                    background-image linear-gradient(to bottom, #c2fcee, #a8f2db)
                .ti_stores_item.type_fact
                    background-image linear-gradient(to top, #c2fcee, #a8f2db)
            &.type_opened
                .ti_stores_progress_icon
                    width 45px
                    height 45px
                    background url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/2282e0a6edf2bea96c97b408195fe4a6.svg') no-repeat center center/auto 30px
            &.type_small
                // justify-content center
                // .ti_stores_item
                //     &:nth-of-type(2)
                //         margin-left 3.5%
                //         @media screen and (max-width: tablet)
                //             margin-left none
            &:after
                content ''
                width 31%
                @media screen and (max-width: tablet)
                    display none
            @media screen and (max-width: tablet)
                justify-content center
        .ti_button
            margin-top 30px
        .ti_stores_progress
            width 100%
            height 95px
            background white
            position relative
            display flex
            justify-content space-between
            align-items center
            box-sizing border-box
            padding 0 60px
            overflow hidden
            border-radius 8px
            .ti_stores_progress_value
                width 0
                height 100%
                position absolute
                top 0
                left 0
                z-index 1
            .ti_stores_purchase_balance
                text-align left
                display flex
                justify-content center
                align-items center
                position relative
                z-index 2
                div
                    font-weight bold
                    font-size 40px
                    line-height 60px
                    @media screen and (max-width: mobile)
                        font-size 20px
                        line-height 22px
                        font-weight normal
                span
                    margin-left 20px
                    font-size 18px
                    line-height 22px
                    @media screen and (max-width: mobile)
                        font-size 14px
                        line-height 14px
                @media screen and (max-width: desktop)
                    display none
            .ti_stores_level_offset
                text-align left
                display flex
                justify-content center
                align-items center
                position relative
                z-index 2
                div
                    font-weight 300
                    font-size 40px
                    line-height 60px
                    @media screen and (max-width 650px)
                        font-size 35px
                        line-height 40px
                span
                    margin-left 20px
                    font-size 18px
                    line-height 22px
                    @media screen and (max-width 650px)
                        font-size 16px
                        line-height 18px
                @media screen and (max-width mobile)
                    width 100%
                    display flex
            .ti_stores_progress_discout
                font-weight bold
                font-size 35px
                line-height 50px
                display flex
                justify-content baseline
                align-items normal
                text-transform uppercase
                position relative
                z-index 2
                @media screen and (max-width: tablet)
                    font-size 26px
                span
                    display block
                    margin-right 15px
                    @media screen and (max-width: tablet)
                        margin-right 10px
            .ti_stores_progress_icon
                width 45px
                height 45px
                display block
                background url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/261dbf9ff19af42f0eccaa91043d57da.svg') no-repeat center center/28px auto
            @media screen and (max-width: tablet)
                justify-content space-around
                padding 0 10px
                flex-wrap wrap
            @media screen and (max-width 650px)
                height auto
                flex-direction column-reverse
                height auto
                padding 10px 10px 20px
        .ti_stores_item
            width 31%
            height 500px        
            background white
            margin-top 30px
            box-sizing border-box
            position relative
            padding 60px
            overflow hidden
            cursor pointer
            text-decoration none
            color black
            @media screen and (max-width: desktop)
                width 48%
            @media screen and (max-width: tablet)
                max-width 400px
                width 100%
            @media screen and (max-width: tablet)
                padding 80px 10% 10%
            .ti_stores_item_discount
                position absolute
                display block
                width 100px
                height 50px
                right 0
                top 35px
                font-weight bold
                border-top-left-radius 70px
                border-bottom-left-radius 70px
                background-color rgba(153, 194, 228, 0.3)
                color #485a7b
                font-size 20px
                line-height 54px
                text-align center
                opacity 1
                visibility visible
                transition animationTime ease
                z-index 2
            .ti_stores_item_logo
                display block
                width auto
                height 200px
                margin 0 auto 20px
            .ti_stores_item_name
                color #353149
                font-weight bold
                font-size 24px
                text-align left
                opacity 1
                visibility visible
                transition animationTime ease
            .ti_stores_item_desc, .ti_stores_item_text
                margin-top 10px
                line-height 22px
                font-size 16px
                text-align left
                opacity 1
                visibility visible
                transition animationTime ease
            .ti_stores_item_locked_icon
                width 60px
                height 60px
                border-radius 50%
                background #ffffff url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/261dbf9ff19af42f0eccaa91043d57da.svg') no-repeat center center/auto 24px
                display block
                position absolute
                right 38px
                bottom 38px
                display none
                transition animationTime ease
            .ti_stores_item_remain
                font-weight 500
                font-size 35px
                opacity 1
                visibility visible
            .ti_stores_item_hover
                opacity 0
                visibility hidden
                transition animationTime ease
                position absolute
                top 270px
                box-sizing border-box
                padding 0 60px
                width 100%
                left 0
                transform translateY(50%)
            &.type_fact
                cursor default
            &.type_locked
                background rgba(255, 255, 255, 0.6)
                .ti_stores_item_locked_icon
                    display block
                .ti_stores_item_logo, .ti_stores_item_name, .ti_stores_item_desc, .ti_stores_item_discount
                    opacity 0.3
                @media screen and (max-width tablet)
                    height 570px
                    .ti_stores_item_name, .ti_stores_item_name:hover
                        position absolute
                        top 300px
                        left 60px
                        opacity 1
                    .ti_stores_item_desc, .ti_stores_item_discount
                        opacity 0
                        visibility hidden
                        transform translateY(-50%)
                    .ti_stores_item_discount
                        transform translateX(50%)
                    .ti_stores_item_locked_icon
                        box-shadow 0 6px 24px 0 rgba(201, 86, 86, 0.3)
                    .ti_stores_item_hover
                        top 350px
                        opacity 1
                        visibility hidden
                        transform translateY(0)
                &:hover
                    .ti_stores_item_desc, .ti_stores_item_name, .ti_stores_item_discount
                        opacity 0
                        visibility hidden
                        transform translateY(-50%)
                    .ti_stores_item_discount
                        transform translateX(50%)
                    .ti_stores_item_locked_icon
                        box-shadow 0 6px 24px 0 rgba(201, 86, 86, 0.3)
                    .ti_stores_item_hover
                        opacity 1
                        visibility hidden
                        transform translateY(0)
                