<div class="spm_profile_ti ti_wrapper clearfix" ng-if="widget.enabled" ng-cloak sailplay-profile>

    <div class="ti_stores">

        <div class="ti_container">

            <div class="ti_stores_group type_{{$index+1}}" ng-repeat="group in stores_groups | filter:{hide:false}" 
                ng-class="{type_opened: user().purchases.sum>=group.sum, type_small: groupSizeSmall(group)}" ng-init="group.page=group.page?group.page:1">

                <div class="ti_stores_progress">
                    <div class="ti_stores_progress_value" ng-style="{width: getPercents(user().purchases.sum, group.sum)+'%'}"></div>
                    <div class="ti_stores_purchase_balance">
                        <div ng-bind="(user().purchases.sum | number) + widget.texts.currency"></div>
                        <span ng-bind-html="widget.texts.balance_placeholder | to_trusted"></span>
                    </div>
                    <div class="ti_stores_level_offset" ng-if="user().purchases.sum<group.sum">
                        <div ng-bind="(group.sum-user().purchases.sum) + widget.texts.currency"></div>
                        <span ng-bind-html="widget.texts.next_level_placeholder | to_trusted"></span>
                    </div>
                    <div class="ti_stores_progress_discout">
                        <span ng-bind="group.name"></span>
                        <i class="ti_stores_progress_icon"></i>
                    </div>
                </div>

                <a class="ti_stores_item" ng-href="{{store.link}}" ng-repeat="store in group.stores | filter:{hide: false}" 
                    ng-class="{type_fact: store.type=='info', type_opened: user().purchases.sum>=store.sum, type_locked: user().purchases.sum>=group.sum && user().purchases.sum<store.sum}" 
                    ng-if="$index<(group.page || 1)*group.per_page">
                    <span class="ti_stores_item_discount" ng-bind="store.discount" ng-if="store.discount"></span>
                    <img class="ti_stores_item_logo" ng-src="{{store.image}}" ng-if="store.image">
                    <div class="ti_stores_item_name" ng-bind="store.title"></div>
                    <div class="ti_stores_item_desc" ng-bind-html="store.description | to_trusted"></div>
                    <i class="ti_stores_item_locked_icon" ng-if="user().purchases.sum>=group.sum && user().purchases.sum<store.sum"></i>
                    <div class="ti_stores_item_hover" ng-if="user().purchases.sum>=group.sum && user().purchases.sum<store.sum">
                        <div class="ti_stores_item_remain" ng-bind="(store.sum-user().purchases.sum) + widget.texts.currency"></div>
                        <div class="ti_stores_item_text" ng-bind-html="widget.texts.left_to_discount | interpolateString:store | to_trusted"></div>
                    </div>
                </a>

                <a class="ti_button type_big" href="#" ng-click="$event.preventDefault();loadMore(group)" ng-bind="widget.texts.load_more" ng-if="needToShowLoadButton(group)"></a>

            </div>


        </div>
    </div>

</div>