<div>

    <div class="form_date form_date__day">
        <span data-ng-bind="model[0] || 'Day'"></span>
        <div class="form_date__popup">
            <a href="#" data-ng-repeat="day in range(1, days[model[1] || 1])" data-ng-bind="day"
               data-ng-click="$event.preventDefault();model[0] = day;"></a>
        </div>
    </div>
    <div class="form_date form_date__month">
        <span data-ng-bind="months[model[1]] || 'Month'"></span>
        <div class="form_date__popup">
            <a href="#" data-ng-repeat="(key, value) in months track by $index" data-ng-bind="value"
               data-ng-click="$event.preventDefault();model[1] = +key;"></a>
        </div>
    </div>
    <div class="form_date form_date__year" >
        <span data-ng-bind="model[2] || 'Year'"></span>
        <div class="form_date__popup">
            <a href="#" data-ng-repeat="year in years" data-ng-bind="year"
               data-ng-click="$event.preventDefault();model[2] = year;"></a>
        </div>
    </div>

</div>