<div class="clearfix">
  <div class="bon_item_main clearfix" data-ng-show="line.length">

    <div class="bon_slide_cat_item_wrap" data-magic-gallery>
      <div class="bon_slide_cat_item">
        <svg preserveAspectRatio="none" class="line-svg-s" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.2 1061.23"><defs><style>.cls-1{fill:url(#grad432);}</style></defs>
        <linearGradient id="grad432"
            x1="0" y1="0" x2="{{getLineLengthSmall(line)}}" y2="0%" x3="100%" y3="0%">
        <stop offset="0%" stop-color="red"
              class="stop-1"/>
        <stop offset="99%" stop-color="red"
              class="stop-2"/>
        <stop offset="100%" stop-color="white"
              class="stop-3"/>
      </linearGradient>
      <title>Bar_badge</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_3" data-name="Layer 3"><rect id="rect432" class="cls-1" x="-525.02" y="525.02" width="1061.23" height="11.2" rx="3.35" ry="3.35" transform="translate(536.21 525.02) rotate(90)"/></g></g></svg>
        <svg preserveAspectRatio="none" class="line-svg-m"
           xmlns:dc="http://purl.org/dc/elements/1.1/"
           xmlns:cc="http://creativecommons.org/ns#"
           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
           xmlns:svg="http://www.w3.org/2000/svg"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 194 34"
           id="svg12350"
           version="1.1">
          <defs
             id="defs12344">
          </defs>
          <metadata
             id="metadata12347">
            <rdf:RDF>
              <cc:Work
                 rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type
                   rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title></dc:title>
              </cc:Work>
            </rdf:RDF>
          </metadata>
          <g
             id="layer1">
            <path
               id="path616"
               style="fill:none;stroke:#cccccc;stroke-width:0.88300836;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
               d="m 0,0 c 32.3318811,0 32.3318811,33.747871 64.6637641,33.747871 32.33188,0 32.33188,-33.747871 64.66376,-33.747871 32.33188,0 32.33188,33.747871 64.66377,33.747871" />
            <path
               id="path617"
               data-ng-style="{'stroke-dasharray': getLineLength(line)}"
               d="m 0,0 c 32.3318811,0 32.3318811,33.747871 64.6637641,33.747871 32.33188,0 32.33188,-33.747871 64.66376,-33.747871 32.33188,0 32.33188,33.747871 64.66377,33.747871" />
          </g>
        </svg>
        <div class="bon_item_line" data-ng-style="{left : left}">

          
          <sailplay-magic-badge data-magic-slide data-badge="badge" data-on-click="badge_select(badge);" data-ng-repeat="badge in line" data-ng-class="{ last: $last }"></sailplay-magic-badge>

        </div>

      </div>

      <!--<a href="#" class="arr_left arr_left slider_arrow_left" data-ng-click="$event.preventDefault(); set_position('left');" data-ng-show="show_left"></a>-->
      <!--<a href="#" class="arr_right arr_right slider_arrow_right" data-ng-click="$event.preventDefault(); set_position('right');" data-ng-show="show_right"></a>-->

    </div>

  </div>

  <magic-modal class="modal_badge_selected" data-ng-cloak data-show="badge_selected">

    <div class="modal_badge_container">

      <div class="modal_badge_image" data-ng-class="{not_received: !badge_selected.is_received}">
        <img class="gift_more_img" data-ng-src="{{ badge_selected.thumbs.url_250x250 | sailplay_pic }}"
             alt="{{ badge_selected.name }}">
      </div>

      <div class="modal_badge_tools">

        <div class="modal_badge_name" data-ng-bind="badge_selected.name"></div>

        <!--<p style="margin-top: 10px;">-->
          <!--<span class="modal_badge_points" data-ng-bind="(action_selected.points | number) + ' ' + (selected_gift.points | sailplay_pluralize:_tools.points.texts.pluralize)"></span>-->
        <!--</p>-->

        <div class="modal_badge_points" data-ng-hide="!badge_selected.points" data-ng-bind="(badge_selected.points | number) + ' ' + (badge_selected.points | sailplay_pluralize:_tools.points.texts.pluralize)"></div>
        <div class="modal_badge_description" data-ng-bind="badge_selected.descr"></div>
        
        <div class="modal_badge_share"> {{ _config.texts.share }} </div>
        <p class="modal_badge_buttons">
          <span class="badge_share_button fb_icon" data-ng-click="badge_share('fb', badge_selected)">
            {{ _config.texts.share_fb }}
          </span>
          <span class="badge_share_button tw_icon" data-ng-click="badge_share('tw', badge_selected)">
            {{ _config.texts.share_tw }}
          </span>
          <span class="badge_share_button gp_icon" data-ng-click="badge_share('gp', badge_selected)">
            {{ _config.texts.share_gp }}
          </span>
        </p>

        <div class="sp_btn button_primary" data-ng-click="badge_select(false);">{{ _tools.buttons.texts.ok }}</div>

      </div>

    </div>

  </magic-modal>

</div>