//variables
@font_dir: '../font/';

//colors
@white: #ffffff;
@black: #000000;
@main: #888888;
@main_light: #cccccc;
@main_lighter: #eeeeee;
@main_dark: #444444;
@main_darker: #222222;

//media queries
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 767px)";
@tablet:      ~"only screen and (min-width: 768px) and (max-width: 991px)";
@desktop:     ~"only screen and (min-width: 992px) and (max-width: 1199px)";
@desktop-xl:  ~"only screen and (min-width: 1200px)";

