@import (reference) "colors";
@import (reference) "mixins";

.magic_select {

  overflow: hidden;
  width: 100%;

  float: left;
  height: 57px;
  border: 0;
  border-top: 2px solid @main_light;
  border-radius: 5px;
  padding-left: 25px;
  font-size: 18px;
  outline: none;
  box-sizing: border-box;
  background-color: @white;
  position: relative;
  display: inline-block;

  background-image: url(https://d3sailplay.cdnvideo.ru/media/assets/assetfile/303e1f38393495b1a059952843abeeb0.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;

  select {
    position: absolute;
    background: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    outline: none;
    -webkit-appearance: none;
    box-shadow: none;
    background-image: none;
  }

}

.form_field {
  float: left;
  width: 50%;
  padding-bottom: 20px;
  padding-right: 40px;
  .box-sizing(border-box);

  &.type_full {
    width: 100%;
  }

  .form_date {
    float: left;
    position: relative;
    z-index: 1;

    span {
      color: @black;
      font-size: 18px;
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding-left: 10px;
      border: 2px solid @main_light;
      border-radius: 5px;
      line-height: 57px;
      height: 57px;
      background-image: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/303e1f38393495b1a059952843abeeb0.png');
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 10px;
    }

    &__popup {
      display: none;
      position: absolute;
      top: 100%;
      left: 0px;
      right: 0px;
      z-index: 2;
      max-height: 100px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: @white;
      border-radius: 0 0 5px 5px;
      border: 1px solid @main_light;
      text-align: center;

      a {
        float: left;
        width: 100%;
        line-height: 25px;
        text-decoration: none;
        color: @black;
        background: @white;
      }

    }

    &__day {
      width: 20%;
    }

    &__month {
      width: 48%;
      margin: 0 1%;
    }

    &__year {
      width: 30%;
    }

    &:hover {
      .form_date__popup {
        display: block;
      }
    }

  }

  .form_label {
    width: 100%;
    line-height: 100%;
    color: @main_darker;
    font-size: 16px;
    float: left;
  }

  .form_textarea {
    background-color: @white;
    float: left;
    height: 100px;
    resize: none;
    border: 0;
    border-top: 2px solid @main_light;
    border-radius: 5px;
    padding-left: 25px;
    width: 100%;
    font-size: 18px;
    outline: none;
    box-sizing: border-box;
  }

  .form_input {
    &[type="text"], &[type="email"] {
      background-color: @white;
      float: left;
      height: 57px;
      border: 0;
      border-top: 2px solid @main_light;
      border-radius: 5px;
      padding-left: 25px;
      width: 100%;
      font-size: 18px;
      outline: none;
      box-sizing: border-box;
    }
  }

  /* -------------------- Select Box Styles: stackoverflow.com Method */
  /* -------------------- Source: http://stackoverflow.com/a/5809186 */
  .form_select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: @black;
    font-size: 18px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    border: 2px solid @main_light;
    border-radius: 5px;
    line-height: 57px;
    height: 57px;
    background-image: url('https://d3sailplay.cdnvideo.ru/media/assets/assetfile/303e1f38393495b1a059952843abeeb0.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    background-color: transparent;
    outline: none;
  }

}

@media @tablet, @mobile {
  .form_field {
    width: 100%;
    padding: 0 0 20px 0;
  }
}


// New part

.spm_form_buttons {
  text-align: center;
  margin-top: 50px;
  .spm_btn {
    min-width: 150px;
    margin-right: 26px;
    display: inline-block;
    margin-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    &:last-child {
      margin-right: 0;
    }
  }
}

.spm_form_field {
  .box-sizing(border-box);
  margin-bottom: 20px;
  display: block;
  width: 100%;
  position: relative;

  .spm_form_date {
    position: relative;
    z-index: 3;

    &_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    span {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 0;
      color: @black;
      line-height: 25px;
      display: block;
      cursor: pointer;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 500;
      // padding: 10px 22px;
      position: relative;

      padding: 12px;
      text-align: center;
    }

    &__popup {
      display: none;
      position: absolute;
      top: 100%;
      left: 0px;
      right: 0px;
      z-index: 2;
      max-height: 100px;
      overflow-x: hidden;
      overflow-y: auto;
      border: 1px solid rgba(0,0,0,0.2);
      background-color: @white;
      border-radius: 0;
      border-top: none;
      flex-direction: column;
      justify-content: flex-start;

      a {
        width: 100%;
        font-size: 14px;
        box-sizing: border-box;
        font-weight: 500;
        padding: 5px 22px;
        text-decoration: none;
        color: @black;
        text-align: center;
        background: @white;
      }

    }

    &.type_day {
      width: 28%;
      span {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &.type_month {
      width: 44%;
      span {
        border-right: none;
        border-left: none;
        border-radius: 0;
      }
    }

    &.type_year {
      width: 28%;
      span {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &.type_active {
      .spm_form_date__popup {
        display: flex;
      }
      &.type_day {
        span {
          border-bottom-left-radius: 0;
        }
      }
      &.type_year {
        span {
          border-bottom-right-radius: 0;
        }
      }
    }

    &.type_empty {
      span {
        color: rgba(0, 0, 0, 0.4);
      }
    }

  }

  .spm_form_label {
    width: 100%;
    opacity: 0.4;
    display: block;
    color: @black;
    font-weight: 500;
    font-size: 16px;

    &.type_absolute {
      transition: 0.3s ease-out;
      .transition(0.3s ease-out);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      padding: 17px 22px;
      height: auto;
      line-height: 1;
      z-index: 1;
    }
  }

  .spm_form_select {
    color: @black;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 20px;
    line-height: 1;
    border: 1px solid rgba(0,0,0,0.2);
    width: 100%;
    display: block;
    outline: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    background: transparent;
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    z-index: 2;
    transition: 0.3s ease-out;
    .transition(0.3s ease-out);
    &.ng-dirty.ng-invalid {
      border-color: red;
    }
    &.ng-not-empty {
      padding: 25px 20px 8px;
      & + .spm_form_label {
        font-size: 14px;
        padding: 9px 20px;
      }
    }
    .placeholder({
      color: rgba(0, 0, 0, 0.4);
      font-family: inherit;
    })
  }

  .spm_form_input {
     &[type="text"], &[type="email"], &[type="tel"] {
      color: @black;
      font-size: 16px;
      font-weight: 500;
      padding: 15px 20px;
      line-height: 1;
      border: 1px solid rgba(0,0,0,0.2);
      width: 100%;
      display: block;
      outline: none;
      box-sizing: border-box;
      -webkit-appearance: none;
      background: transparent;
      position: relative;
      z-index: 2;
      transition: 0.3s ease-out;
      .transition(0.3s ease-out);
      &.ng-dirty.ng-invalid {
        border-color: red;
      }
      &:focus, &.ng-not-empty {
        padding: 24px 20px 6px;
        & + .spm_form_label {
          font-size: 14px;
          padding: 9px 20px;
        }
      }
      .placeholder({
        color: rgba(0, 0, 0, 0.4);
        font-family: inherit;
      })
    }
  }

  .spm_form_checkbox {

    position: relative;
    display: block;
    padding-left: 28px;
    .box-sizing(border-box);

    background-image: url(https://sailplays3.cdnvideo.ru/media/assets/assetfile/0074d36e09ae4824b8f30586845af8f2.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: -3px center;
    cursor: pointer;

    &.checked {
      background-image: url(https://sailplays3.cdnvideo.ru/media/assets/assetfile/c8009532c53d1abd6a160b00c0092092.png);
    }

    .spm_form_checkbox_label {
      line-height: 40px;
      font-size: 16px;
      font-weight: 300;
      color: @main_dark
    }

    .spm_form_checkbox_input {

      top: 10px;
      width: 20px;
      height: 20px;
      left: 0;
      position: absolute;
      visibility: hidden;

    }

  }

}


form.ng-invalid.ng-submitted {
  .spm_form_date_wrapper.ng-dirty.ng-invalid .spm_form_date{
    span{
      border-color: red;
    }
  }
}