<div class="bon_profile_wrap container" data-ng-show="widget.enabled" data-ng-cloak>

  <section class="container-wrapper" data-sailplay-profile>

    <section class="top-header">
      <section class="top-logo" ng-click="$parent.currentTab = 1">
        <img ng-src="{{widget.logo}}" class="logo">
      </section>
      <section class="top-contacts">
        <div class="contacts">
          <p class="phone" ng-bind="widget.texts.phone_adress"></p>
          <p class="email" ng-bind="widget.texts.email_adress"></p>
        </div>
        <div class="socials">
          <a class="social-vk" ng-href="{{widget.socials.vk.link}}">
            <img ng-src="{{widget.socials.vk.icon}}" class="bitmap">
          </a>
          <a class="social-ig" ng-href="{{widget.socials.ig.link}}">
            <img ng-src="{{widget.socials.ig.icon}}" class="bitmap">
          </a>
          <a class="social-fb" ng-href="{{widget.socials.fb.link}}">
            <img ng-src="{{widget.socials.fb.icon}}" class="bitmap">
          </a>
        </div>
      </section>
    </section>

    <section data-ng-show="$parent.currentTab == '1'" class="main-content" data-ng-if="!user()">
      <section>
        <div class="content-header">
          <p class="header-overlay" data-ng-bind="widget.texts.header_overlay"></p>
          <p class="header-text" data-ng-bind="widget.texts.header_text_unlogged"></p>
        </div>
      </section>

      <section>
        <div class="offer-block">
          <img src="https://sailplays3.cdnvideo.ru/media/content_management/contentitem/1809/92e8a2d63e1a02b10c64aa4fe62e11dc.png"
               srcset="https://sailplays3.cdnvideo.ru/media/content_management/contentitem/1809/075c5a4d7e70fee805eb7aa736360cb9.png 2x,
               https://sailplays3.cdnvideo.ru/media/content_management/contentitem/1809/c1b1f5adcf065b9f0741fda978dac7b8.png 3x"
               class="offer-price">
          <div class="offer-percent-container">
            <p class="offer-percent">%</p>
            <p class="offer-text" data-ng-bind-html="widget.texts.offer_text"></p>
          </div>
        </div>
        <div class="offer-explaination">
          <p data-ng-bind-html="widget.texts.disclaimer"></p>
        </div>
        <div class="login-container">
          <a class="login-more" data-ng-bind="widget.texts.login_more" data-ng-click="$parent.$parent.currentTab='about';window.scroll(0, 0);"></a>
          <a class="login-login" data-ng-bind="widget.texts.login" data-ng-click="$event.preventDefault(); login('remote', {widget: 'profile', element: 'profile_login_button'});"></a>
        </div>
      </section>
    </section>

    <section data-ng-show="$parent.currentTab == '1'" class="main-content" data-ng-if="user()">
      <section>
        <div class="content-header">
          <p class="header-overlay" data-ng-bind="widget.texts.header_overlay"></p>
          <p class="header-text" style="text-transform: uppercase;" data-ng-bind="user().user.name || widget.texts.name_not_defined"></p>
        </div>
      </section>

      <section>
        <div class="offer-block">
          <img src="https://sailplays3.cdnvideo.ru/media/content_management/contentitem/1809/92e8a2d63e1a02b10c64aa4fe62e11dc.png"
               srcset="https://sailplays3.cdnvideo.ru/media/content_management/contentitem/1809/075c5a4d7e70fee805eb7aa736360cb9.png 2x,
               https://sailplays3.cdnvideo.ru/media/content_management/contentitem/1809/c1b1f5adcf065b9f0741fda978dac7b8.png 3x"
               class="offer-price">
          <div class="offer-percent-container">
            <p class="offer-percent">%</p>
            <p class="offer-text" data-ng-bind-html="widget.texts.offer_text"></p>
          </div>
        </div>
        <div class="offer-explaination">
          <p data-ng-bind-html="widget.texts.disclaimer"></p>
        </div>
        <div class="login-container">
          <a class="login-more login-more-logged" data-ng-bind="widget.texts.login_more" data-ng-click="$parent.$parent.currentTab='about';window.scroll(0, 0);"></a>
        </div>
      </section>
    </section>

    <section ng-show="$parent.currentTab == 'about'" class="history-content">
      <div class="content-header history">
        <div class="back-sign" ng-click="$parent.currentTab='1'"></div>
        <p class="header-text type_padding" ng-bind="widget.texts.about.header"></p>
      </div>
      <p class="about-text" ng-bind-html="widget.texts.about.text"></p>
    </section>

    <section ng-show="$parent.currentTab == 'timer'" class="history-content">
      <div class="content-header history">
        <div class="back-sign" ng-click="$parent.currentTab='1'"></div>
        <p class="header-text type_padding" ng-bind="widget.texts.timer_page.header"></p>
      </div>
      <p class="about-text" ng-bind-html="widget.texts.timer_page.text"></p>
    </section>

    <section ng-show="currentTab == '2'">
      <section class="fill-profile">
        <div class="fill-profile-container" sailplay-fill-profile data-config="widget.fill_profile.config">

          <div class="profile-header" ng-bind="widget.texts.fill_profile.header"></div>

          <div class="profile-first-time" ng-show="isFirstTime" ng-bind="widget.texts.fill_profile.first_time"></div>

          <form name="fill_profile_form" class="mb_popup_main mb_popup_main_mt" data-ng-submit="sailplay.fill_profile.submit(fill_profile_form, profile.fill_profile);">

            <div class="form_field" data-ng-repeat="field in sailplay.fill_profile.form.fields" data-ng-switch="field.input">

              <div data-ng-switch-when="image" class="avatar_upload clearfix">
                <img width="160px" data-ng-src="{{ (field.value | sailplay_pic) || 'http://saike.ru/sailplay-magic/dist/img/profile/avatar_default.png'}}" alt="">
              </div>

              <div data-ng-switch-when="text" class="input-field clearfix">
                <label class="form_label" data-ng-class="{active: field.value}">{{ field.label }}</label>
                <input name="{{field.name}}" class="form_input" type="text" placeholder="{{ field.placeholder }}" data-ng-model="field.value" required="required">
              </div>

              <div data-ng-switch-when="date" class="input-date clearfix">
                <label class="form_label date_label" data-ng-class="{active: field.value && field.value[0] && field.value[1] && field.value[2]}">{{ field.label }}</label>
                <date-picker data-model="field.value"></date-picker>
              </div>

              <div data-ng-switch-when="select" class="clearfix">
                <label class="form_label" data-ng-class="{active: field.value}">{{ field.label }}</label>
                <div class="magic_select form_input">
                  <select name="{{field.name}}" data-ng-model="field.value" data-ng-options="item.value as item.text for item in field.data" required="required"></select>
                </div>
              </div>

              <div data-ng-switch-when="phone" class="input-field clearfix">
                <label class="form_label" data-ng-class="{active: field.value}">{{ field.label }}</label>
                <input class="form_input" name="{{field.name}}" type="text" data-model-view-value="true" data-ui-mask="{{ field.placeholder }}" data-ng-model="field.value" required="required">
              </div>

              <div data-ng-switch-when="email" class="input-field clearfix">
                <label class="form_label" data-ng-class="{active: field.value}">{{ field.label }}</label>
                <input class="form_input" name="{{field.name}}" type="email" placeholder="{{ field.placeholder }}" data-ng-model="field.value" required="required">
              </div>

              <div data-ng-switch-when="radio-tag" class="radio-tag">
                <label class="form_label" 
                  ng-class="{active: field.value}"
                  ng-bind="field.label"></label>
                <div class="radio-items-container">
                  <div class="radio-item" data-ng-repeat="item in field.data">
                    <!--      {{item}} -->
                    <label class="radio-label-container" >
                    <div class="custom-radio">
                      <input value="{{item.tag}}" name="{{field.name}}" required="required" data-ng-model="field.value" id="{{'field_' + field.name + '_' + item.tag}}" type="radio">
                      <div class="checked"><div class="checked-inner"></div></div>
                      <div class="unchecked"></div>
                    </div>
                    {{ item.text }}</label>
                  </div>
                </div>
              </div>

              <div data-ng-switch-when="checkbox-tag" class="checkbox-tag">
                <label class="form_label" 
                  ng-class="{active: (field.data | activeItems)}"
                  ng-bind="field.label"></label>
                <div class="checkbox-items-container">
                  <div class="checkbox-item" data-ng-repeat="item in field.data">
                    <!--      {{item}} -->
                      <label class="checkbox-label-container" >
                        <div class="custom-checkbox">
                          <input value="{{item.tag}}" name="{{field.name}}" data-ng-model="item.value" id="{{'field_' + field.name + '_' + item.tag}}" type="checkbox" ng-required="!(field.data | activeItems)">
                          <div class="checked"><div class="checked-inner"></div></div>
                          <div class="unchecked"></div>
                        </div>
                        {{ item.text }}
                      </label>
                      <div data-ng-if="item.isChildren && item.value" class="form_date children_date">
                        
                          <div class="children_container" data-ng-repeat="(index, children) in item.childArray">
                              <input name="children_{{index}}" placeholder="{{item.placeholder}}" min="0" min="100" data-ng-model="children.age" type="number" required="required">
                              <div class="plus-sign" ng-click="item.childArray.splice(index, 1)">
                                  <div class="verical-minus"></div>
                                  <div class="horizontal-minus"></div>
                              </div>
                          </div>
                          
                          <div class="children_container">
                              <input placeholder="{{item.placeholder}}" min="0" min="100" ng-model="item.newChildren" type="number">
                              <div ng-show="item.newChildren" class="plus-sign cross" ng-click="item.childArray.push({age:item.newChildren});item.newChildren=null;">
                                <div class="verical-minus"></div>
                                <div class="horizontal-minus"></div>
                            </div>
                          </div>

                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="confirmation" ng-if="isFirstTime">
              <label class="checkbox-label-container" >
                <div class="custom-checkbox">
                  <input value="false" name="confirmation-checkbox" required="required" data-ng-model="field.value" id="confirmation" type="checkbox">
                  <div class="checked"><div class="checked-inner"></div></div>
                  <div class="unchecked"></div>
                </div>
                <span class="confirmation-text" data-ng-bind="widget.texts.fill_profile.confirm_text"></span></label>
            </div>

            <div class="buttons">
                <div ng-if="fill_profile_form.$invalid" class="hover-popup invalid-popup" ng-bind-html="widget.texts.fill_profile.invalid"></div>
                <button type="submit" class="submit-btn" ng-bind="isFirstTime ? widget.texts.fill_profile.reg : widget.texts.fill_profile.save"></button>
            </div>

          </form>
        </div>
      </section>
    </section>

    <section class="history-content" data-ng-show="currentTab == '3'" data-ng-if="user()" data-sailplay-history data-sailplay-profile>
      <div class="content-header history" data-ng-show="historyState == 'default'">
        <p class="header-text" data-ng-bind="widget.texts.history.header"></p>
      </div>
      <div class="content-header history" data-ng-show="historyState == 'purchase'" >
        <div class="back-sign" data-ng-click="resetHistoryState()"></div>
        <p class="header-text type_padding" ng-bind="widget.texts.history.header_purchase"></p>
      </div>
      <section class="empty-history" data-ng-if="!history().length">
        <div>
          <div class="hist-svg"></div>
          <div class="caption" ng-bind="widget.texts.history.empty"></div>
        </div>
      </section>
      <section class="history-table" data-ng-if="history().length">
        <section data-ng-show="historyState == 'default'">

          <table class="hist_table type_desktop">
            <tbody>
              <tr data-dir-paginate="item in history() | itemsPerPage:5" data-pagination-id="history_pages">
                <td>
                  <span class="modal_history_date" data-ng-bind="item.action_date | date:'dd MMM'"></span>
                </td>
                <td>
                  <span data-ng-show="item.action!='purchase'"><b class="modal_history_content" data-ng-bind="item | history_item"></b></span>
                  <span data-ng-show="item.action=='purchase'" data-ng-click="purchaseHistory(item.id, item.action_date)"><b class="purchase-name" class="modal_history_content" data-ng-bind="item | history_item"></b></span>
                </td>
                <td>
                  <span data-ng-show="item.action!='purchase'" class="modal_history_points" data-ng-if="item.points_delta" data-ng-bind="((item.points_delta|number) || 0) + ' ' + (item.points_delta | sailplay_pluralize:('points.texts.pluralize' | tools))"></span>
                  <span data-ng-show="item.action=='purchase'" class="modal_history_points" data-ng-bind="((item.price|number) || 0) + ' Р'"></span>
                </td>
              </tr>
            </tbody>
          </table>


          <table class="hist_table type_mobile">
            <tbody data-dir-paginate="item in history() | itemsPerPage:5" data-pagination-id="history_pages">

              <tr>
                <td>
                  <div class="modal_history_date" data-ng-bind="item.action_date | date:'dd MMM'"></div>
                </td>
              </tr>

              <tr>
                <td>
                    <span data-ng-show="item.action!='purchase'"><b class="modal_history_content" data-ng-bind="item | history_item"></b></span>
                    <span data-ng-show="item.action=='purchase'" data-ng-click="purchaseHistory(item.id, item.action_date)"><b class="purchase-name" class="modal_history_content" data-ng-bind="item | history_item"></b></span>
                </td>
                <td>
                    <span data-ng-show="item.action!='purchase'" class="modal_history_points" data-ng-if="item.points_delta" data-ng-bind="((item.points_delta|number) || 0) + ' ' + (item.points_delta | sailplay_pluralize:('points.texts.pluralize' | tools))"></span>
                    <span data-ng-show="item.action=='purchase'" class="modal_history_points" data-ng-bind="((item.price|number) || 0) + ' Р'"></span>
                  </td>
              </tr>

            </tbody>
          </table>

          <dir-pagination-controls data-max-size="5" data-pagination-id="history_pages"
                                   data-template-url="profile.history_pagination"
                                   data-auto-hide="true"></dir-pagination-controls>
        </section>

        <section data-ng-show="historyState == 'purchase'">
          <table class="hist_table">
            <tbody>
            <tr data-ng-repeat="item in cart.positions">
              <td>
                <span class="modal_history_date" data-ng-bind="(item.quantity | number) + ' шт.'"></span>
              </td>
              <td>
                <span><b class="modal_history_content" data-ng-bind="item.product.name | limitTo:25"></b></span>
                </td>
              <td>
                <span class="modal_history_points" data-ng-bind="((item.price|number) || 0) + ' Р'"></span>
              </td>
            </tr>
            </tbody>
          </table>
        </section>
      </section>
    </section>

    <section class="navbar" data-ng-if="user()">
      <section class="main-navbar-bg">
        <div class="control-button-bg" data-ng-class="{active: ($parent.currentTab == '1' || $parent.currentTab == 'about')}"></div>
        <div class="control-button-bg" data-ng-class="{active: $parent.currentTab == '2'}"></div>
        <div class="control-button-bg" data-ng-class="{active: $parent.currentTab == '3'}"></div>
        <div class="score-bg"></div>
        <div class="percent-bg"></div>
      </section>
      <section class="main-navbar">
        <div data-ng-click="$parent.$parent.currentTab = 1;window.scroll(0, 0);onTabChange(1)" class="control-button" data-ng-class="{active: ($parent.currentTab == '1' || $parent.currentTab == 'about')}"> <div class="ball-svg"></div> {{ widget.texts.bottom_navbar.main }} </div>
        <div data-ng-click="$parent.$parent.currentTab = 2;window.scroll(0, 0);onTabChange(2)" class="control-button" data-ng-class="{active: $parent.currentTab == '2'}"> <div class="profile-svg"></div> {{ widget.texts.bottom_navbar.profile }} </div>
        <div data-ng-click="$parent.$parent.currentTab = 3;window.scroll(0, 0);onTabChange(3)" class="control-button" data-ng-class="{active: $parent.currentTab == '3'}"> <div class="hist-svg"></div> {{ widget.texts.bottom_navbar.history }} </div>
        <div class="score">
          <div class="hover-popup score-popup" ng-bind-html="getScorePopupText() | to_trusted"></div>
          <div class="score-value" ng-bind="confirmedPurchases+':'+returnedPurchases"></div>
          <div class="score-text" ng-bind-html="widget.texts.score | to_trusted"></div>
        </div>
        <div class="percent">
          <div class="percent-value" ng-bind="getPercents() + '%'"></div>
          <div class="percent-text" ng-bind="widget.texts.bottom_navbar.percent_thing"></div>
        </div>
      </section>
    </section>

    <section class="countdown" ng-if="user()">
      <div class="hover-popup timer-popup" ng-bind="widget.texts.timer.hover"></div>
      <h4 ng-bind="widget.texts.timer.header"></h4>
      <section class="timer-numbers" ng-click="$parent.$parent.currentTab='timer'">
        <div class="day">
          <div class="number" ng-bind="timerObject.days"></div>
          <div class="caption" ng-bind="widget.texts.timer.days"></div>
        </div>
        <div class="hour">
          <div class="number" ng-bind="timerObject.hours"></div>
          <div class="caption" ng-bind="widget.texts.timer.hours"></div>
        </div>
        <div class="minute">
          <div class="number" ng-bind="timerObject.minutes"></div>
          <div class="caption" ng-bind="widget.texts.timer.minutes"></div>
        </div>
        <div class="second">
          <div class="number" ng-bind="timerObject.seconds"></div>
          <div class="caption" ng-bind="widget.texts.timer.seconds"></div>
        </div>
      </section>
    </section>

  </section>

</div>