@import (reference) "../../src/theme/mixins";
@import (reference) "../../src/theme/helpers";
@import (reference) "../../src/theme/colors";

@tred: rgb(146, 29, 34);

.spm_wrapper {

  .bon_profile_wrap {

    float: left;
    width: 100%;
    padding: 0 3%;
    &>* {
      min-height: 292px;
    }
    .box-sizing(border-box);
    background-color: @tred;
    //background-image: url(./img/prof_bg.png);
    position: relative;

    .bon_profile_info {
      width: 100%;
      display: flex;
      float: left;
      position: relative;
      @media screen and (max-width: 991px) {
        flex-wrap: wrap;
      }
      & .user_avatar {
        position: relative;
        max-width: 100px;
        float: right;
        text-align: center;
        &:hover .user_info{
          display: block;
        }
        & .user_avatar_image {
          width: 100%;
          margin-top: 44px;
          border-radius: 90em;
        }
      }
      .user_info {
        height: 180px;
        display: none;
        position: absolute;
        top: 10px;
        width: 200px !important;
        & a {
          width: 50% !important;
          color: white;
          text-decoration: underline !important;
        }
      }
      img:not(.user_avatar_profile_btn) {
        border-radius: 100%;
        -webkit-box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
      }
      & .user_avatar_profile_btn_container {
        height: 29px*0.75;
        width: 27px*0.75;
        padding: 1px 3px;
        background-color: white;
        position: absolute;
        border-radius: 50px;
        top: 42px;
        right: 8px;
      }
      & .user_avatar_profile_btn {
        padding-top: 8px;
        width: 100%;
      }
      .bon_profile_avatar {
        min-width: 100px;
      }
      .bon_profile_login {
        order: 4;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 991px){
          width: 100%;
        }
        & .button_login {
          background-color: white;
          color: @tred;
          height: 66px;
          width: 252px;
          font-size: 24px;
          font-weight: 400;
          font-family: Open Sans, sans-serif;
          margin-right: 0;
          margin-bottom: 40px;
        }
      }
      .bon_profile_top {
        min-width: 50%;
        flex-grow: 2;
        @media screen and (max-width: 991px){
          order: 2;
          min-height: 200px;
        }
      }
      .bon_profile_top_left {
        float: left;
        padding-left: 15px;
        h3 {
          float: left;
          width: 100%;
          font-size: 30px;
          color: @white;
          margin-top: 60px;
          margin-bottom: 10px;
          @media screen and (max-width: 991px){
            margin-top: 20px !important;         
          }
        }
        h4 {
          float: left;
          width: 100%;
          color: @white;
          font-size: 14px;
          font-weight: 400;
        }
      }
      .bon_profile_right {
        float: right;
        width: 265px;
        margin-top: 50px;
        img {
          border-radius: 100%;
          -webkit-box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
        }
        span {
          font-size: 16px;
          font-weight: 700;
          margin-top: 18px;
        }
        .login_reg_btn {
          float: right;
        }
        .logout_btn {
          width: auto;
          font-size: 14px;
          margin-top: 9px;
          color: @white;
        }
        .edit_profile_btn {
          font-size: 14px;
          margin-top: 9px;
          color: @white;
        }
        .user_info {
          text-align: right;
          float: left;
          width: 165px;
          color: @white;
          span {
            word-wrap: break-word;
          }
        }
      }
      .bon_profile_stat {
        float: left;
        min-width: 350px;
        display: flex;
        margin-top: 50px;
        margin-bottom: 78px;
        @media screen and (max-width: 991px){
          min-width: 180px;
          flex-grow: 2;
          margin-bottom: 10px;
        }

        & .points_block, & .status_block {
          padding-top: 18px;
          min-height: 108px;
          width: 50%;
          padding-left: 20px;
          flex-grow: 1;
          border-left: 1px solid rgb(157, 52, 56);
          @media screen and (max-width: 991px){
            padding-left: 15px !important;         
          }
          &>span>span:nth-of-type(1) {
            font-size: 16px;
            display: block;
            text-transform: capitalize;
          }
          &>span>span:nth-of-type(2) {
            padding-top: 12px;
            font-size: 38px;
            display: block;
          }
        }

        & .points_block {
          padding-right: 20px;
          @media screen and (max-width: 991px){
            border-left: none;
            padding-right: 0;
          }
          & .history_button {
            font-size: 16px;
            position: absolute;
            display: none;
          }
          &:hover .history_button {
            display: block;
          }
          &>span>span:nth-of-type(2) {
            padding-top: 14px;
          }
        }

        & .status_block {
          & .status_confirmed_icon {
            text-transform: capitalize;
            & object {
              height: 38px;
              transform: translateY(5px);
            }
          }
        }

        .points_confirmed {

          span {
            color: inherit;
            font-family: inherit;
          }

          &_name {
            margin-left: 2px;
          }
        }

        .bps_left {
          float: left;
          width: auto;
          > span {
            color: @white;
            display: block;
            font-size: 33px;
            font-family: 'RotondaC bold';
          }
          > a {
            font-size: 14px;
            color: @white;
          }
        }
        .bps_right {
          float: right;
          width: 70%;
          margin-top: 12px;
          margin-right: 20px;
          .progress_line_main {
            position: relative;
            float: left;
            width: 100%;
            .progress_line_bg {
              height: 14px;
              border-top: 3px solid @black;
              background-color: @white;
              background-image: url(./assets/img/progress_line.png);
              border-radius: 20px;
            }
            .progress_line {
              position: absolute;
              left: 0px;
              top: 3px;
              width: 0%;
              background-color: @white;
              height: 14px;
              border-radius: 20px 0px 0px 20px;
              -webkit-transition: all 1000ms ease;
              -moz-transition: all 1000ms ease;
              -ms-transition: all 1000ms ease;
              -o-transition: all 1000ms ease;
              transition: all 1000ms ease;
              .progress_text {
                min-width: 100px;
                position: absolute;
                right: 0px;
                padding-top: 32px;
                border-right: 1px solid #fff;
                top: 0px;
                z-index: 1;
                &.right_position {
                  right: auto;
                  left: 100%;
                  border-left: 1px solid #fff;
                  border-right: none;
                  span {
                    border-radius: 0px 5px 5px 0px;
                  }
                }
                span {
                  float: right;
                  line-height: 30px;
                  background-color: rgba(255, 255, 255, 0.2);
                  color: @white;
                  font-size: 14px;
                  font-family: 'RotondaC';
                  border-radius: 5px 0px 0px 5px;
                  padding-left: 10px;
                  padding-right: 10px;
                }
              }
            }
            .gift_item {
              position: absolute;
              top: 50%;
              width: 36px;
              height: 36px;
              margin-top: -19px;
              margin-left: -19px;
              background-color: @main_light;
              border-radius: 6px;
              -webkit-background-size: 20px 22px;
              background-size: 20px 22px;
              background-repeat: no-repeat;
              background-position: center center;
              border-top: 3px solid @black;
              background-image: url(./assets/img/progress_gift.png);
              &.act {
                background-color: @white;
              }
              &_hint {
                opacity: 0;
                visibility: hidden;
                display: inline-block;
                position: absolute;
                left: 0;
                text-align: center;
                width: 100%;
                top: 0;
                font-weight: bold;
                transition: .3s ease;
                color: white;
              }

              &:hover {
                .gift_item_hint {
                  visibility: visible;
                  opacity: 1;
                  top: -20px;
                }
              }
            }
          }
        }
      }
    }

    & .bns_overlay_iner {
      width: 500px !important;
    }

    .status_block {
      width: 30%;
      display: inline-block;
    }

    @media screen and (max-width: 650px) {
      .status_block {
        width: 100%;
      }

      .bon_profile_stat .bps_left {
        text-align: left;
      }
    }

    //media queries
    @media @desktop-xl {
      .bon_profile_info {
        .bon_profile_stat {
          .bps_right {
            width: 100%;
            margin-top: 30px;
            margin-right: 0px;
          }
        }
      }
    }

    @media @desktop {
      .progress_line_main {

        .progress_text {
          border: none !important;

          &:before {
            content: '';
            width: 1px;
            background: white;
            right: 0;
            top: 0;
            position: absolute;
            height: 17px;
            display: block;
          }

          span {

            position: relative;
            left: 50%;
            border-radius: 5px !important;

          }

        }

      }
    }

    .profile_mobile() {

      .bon_profile_info {
        width: 100%;
        .bon_profile_right {
          width: 265px;
        }
        .bon_profile_stat {
          .bps_right {
            float: left;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 12px;
            .progress_line_main {
              float: left;
              width: 95%;
            }
          }
        }
      }
    }

    @media @tablet {
      .profile_mobile();
    }

    @media @mobile {
      .profile_mobile();
    }

  }

  //history section
  .bns_hist_table {
    float: left;
    width: 100%;
    margin-top: 12px;
    td {
      vertical-align: text-top;
      padding: 5px 11px;
    }
    td:nth-child(1) {
      color: @main;
      font-size: 13px;
      line-height: 19px;
      padding-right: 0px;
      padding-left: 0px;
      white-space: nowrap;
    }
    td:nth-child(2) {
      color: @black;
      font-size: 12px;
      font-weight: 200;
      line-height: 19px;
      position: relative;
      padding-left: 0px;
      width: 570px;
      &::after {
        position: absolute;
        left: 0px;
        width: 100%;
        border-top: 1px dotted @main_dark;
        top: 14px;
        content: '';
        display: block;
      }
      span {
        display: block;
        position: relative;
        z-index: 1;
        font-size: 13px;
        color: @main_darker;
        b {
          background-color: @white;
          padding-right: 15px;
          padding-left: 11px;
          font-weight: 200;
        }
      }
      span:first-child {
        color: @black;
      }
    }
    td:nth-child(3) {
      color: @main_dark;
      font-size: 14px;
      font-weight: bold;
      text-align: right;
      line-height: 19px;
      span {
        display: block;
        white-space: nowrap;
        font-size: 13px;
      }
    }
  }

  .bns_hist_pager {
    float: left;
    font-size: 13px;
    a {
      text-decoration: none;
      color: rgb(172, 172, 171);
      margin-right: 4px;
      line-height: 30px;
      text-align: center;
      font-size: 22px;
      font-weight: 300;
      &.active {
        color: white;
      }
    }
  }

}

.history_container {
  margin-top: 10px !important;
}

.modal_history_content_container {
  & .modal_history_content_header {
    display: block;
    color: rgb(153, 153, 153);
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
  }
  & ul {
    padding-left: 34px;
    display: none;
    & li {
      padding-top: 6px;
    }
    padding-bottom: 6px;
  }
  &.open {
    & ul {
      display: inline-block;
    }
  }
}

.modal_history_content {
  min-width: 100px;
  display: inline-block;
}

.modal_history_controls_container {
  margin-top: 22px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bns_hist_pager>a {
  display: inline-block;
  height: 33px;
  width: 33px;
  background-color: rgb(247, 247, 246);
  border-radius: 50px;
  &.active {
    background-color: rgb(146, 29, 34);  
    &>span{
      color: white;
    }
  }
  &>span{
    font-size: 18px;
    display: inline-block;
    color: rgb(155, 157, 157);
    font-weight: normal;
    font-family: Open Sans, sans-serif;
    text-align: center;
    width: 100%;
    transform: translateY(6px);
  }
  &+a{
    margin-left: 10px !important;
  }
}

.history_entry {
  min-height: 84px*0.75;
  padding-top: 14px !important;
  border-bottom: 1px solid rgb(237, 237, 237) !important;
  &>*{
    display: inline-block;
    text-align: left;
    &>*{
      display: block;
    }
  }
  &>div:nth-of-type(1){
    min-width: 165px*0.75;
    float: left;
    &>.modal_history_date{
      padding-top: 10px;
      font-size: 18px;
      color: rgb(127, 127, 127);
    }
  }
  &>div:nth-of-type(2){
    
  }
  &>div:nth-of-type(3){
    width: 150px;
    float: right;
    &>.modal_history_price{
      color: rgb(79, 182, 102);
      text-align: right;
      font-size: 20px;
      font-weight: 600;
    }
    &>.modal_history_points{
      text-align: right;
      color: rgb(146, 29, 34);
      font-weight: 900;
      font-family: Open Sans, sans-serif;
      font-size: 19px;
      padding-top: 5px;
      white-space: nowrap;
      &+.modal_history_price{
        padding-top: 8px;
      }
    }
  }
}

.modal_history_header{
  color: rgb(146, 29, 34)
}

.modal_history_name{
  font-size: 16px !important;
}

.bns_overlay_login {
  &.visible{
    animation: 0.5s linear 0s 1 showeffect;
  }

  & .bns_overlay_iner {
    width: 300px;
  }
  & iframe {
    width: 100%;
    height: 500px;
  }
}

@keyframes showeffect {
    0% { display: none; visibility: hidden; }
    99% { display: none; visibility: hidden; }
    100% { display: block; visibility: visible;  }
}

@keyframes avatarhover {
    0% { display: block; visibility: visible; }
    99% { display: block; visibility: visible; }
    100% { display: none; visibility: hidden;  }
}