<div class="bon_profile_wrap container" data-ng-show="widget.enabled" data-ng-cloak>

  <div class="bon_profile_info" data-sailplay-profile data-sailplay-gifts>

    <div class="bon_profile_top clearfix">
      <div class="bon_profile_top_left">
        <h3>
          <span class="header">{{ (user().user.name || widget.texts.name_not_defined) + ', ' + widget.texts.header }}</span>
        </h3>
        <h4>
          <span class="caption">{{ widget.texts.spoiler }}</span>
        </h4>
        <button class="btn_more">{{ widget.texts.more }}</button>
      </div>
      <div class="bon_profile_right clearfix" data-ng-if="user()">
        <div class="user_profile_container">
          <div class="user_info">
            <a href="#" class="edit_profile_btn button_link" data-ng-click="$event.preventDefault(); profile.fill_profile(true);"></a>
          </div>
          <div class="user_avatar">
            <img class="user_avatar_image" data-ng-src="{{ (user().user.pic | sailplay_pic) || default_avatar}}" alt="You">
          </div>
          <div class="user_info">
            <a href="#" class="logout_btn button_link" data-ng-click="$event.preventDefault(); logout();"></a>
          </div>
        </div>
        <div class="user_points_container">
          <div class="user_name" data-ng-bind="user().user.name"></div>
          <div class="status_name" data-ng-bind="widget.texts.your_status + currentStatus.getCurrentStatus().status"></div>
          <div class="points_confirmed">
            <span class="points_confirmed_value" data-ng-bind="user().user_points.confirmed | number"></span>
            <span class="points_confirmed_name" data-ng-bind="user().user_points.confirmed | sailplay_pluralize: ('points.texts.pluralize' | tools)"></span>
          </div>
          <div class="points_unconfirmed">
            <span class="points_confirmed_value" data-ng-bind="user().user_points.unconfirmed | number"></span>
            <span class="points_confirmed_name" data-ng-bind="widget.texts.unconfirmed_points"></span>
            <span class="points_confirmed_name" data-ng-bind="user().user_points.unconfirmed | sailplay_pluralize: ('points.texts.pluralize' | tools)"></span>
          </div>
          <a class="button_link history_button" href="#" data-ng-click="$event.preventDefault(); profile.history = true;">{{ widget.texts.history }}</a>
        </div>
      </div>
      <div class="bon_profile_right clearfix" data-ng-if="!user()">
        <button type="button" class="sp_btn button_primary login_reg_btn" data-ng-click="$event.preventDefault(); login('remote', {widget: 'profile', element: 'profile_login_button'});">{{ widget.texts.login_reg }}</button>
      </div>
    </div>

    <!-- status -->
    <div class="status_block" data-ng-if="user() && user().user_status.name">
      <span class="status_block_title" data-ng-bind="widget.texts.user_status"></span>
      <img class="status_block_img" data-ng-src="{{ user().user_status.pic | sailplay_pic }}" alt="{{ user().user_status.name }}">
      <span class="status_block_name" data-ng-bind="user().user_status.name || widget.texts.empty_status "></span>
    </div>

    <div class="bon_profile_stat">
      <div class="bps_left points_block clearfix" data-ng-if="user()">

      </div>
      <div class="bps_right progress_block clearfix" data-ng-if="false && progress">
        <div class="progress_line_main">
          <div class="progress_line_bg progress_bar progress_bar_border"></div>
          <div class="progress_line progress_bar_filled" data-procent="0" data-ng-style="{ width: progress.plenum + '%' }">
            <div class="progress_text progress_bar_flag" data-ng-show="progress.next.item" data-ng-class="{ right_position: progress.plenum < 50 }">
              <span class="progress_bar_flag_text" data-ng-bind="progress.next.offset + ' ' + (progress.next.offset | sailplay_pluralize:('points.texts.pluralize' | tools)) + ' ' + widget.texts.before_gift"></span>
            </div>
          </div>

          <div class="gift_item progress_bar_border" data-ng-repeat="item in progress.items track by $index"
               data-ng-class="{ act : item.reached, progress_bar_gift_filled: item.reached, progress_bar_gift: !item.reached}"
               data-ng-style="{ left: item.get_left() }">

            <span class="gift_item_hint" data-ng-bind="item.gifts[0].points"></span>

          </div>

        </div>
      </div>
    </div>
  </div>

  <magic-modal class="bns_overlay_hist" data-show="profile.history">

    <div data-sailplay-history data-sailplay-profile>

      <h3>
        <span class="modal_history_header">{{ widget.texts.history.header }}</span>
        <!--<b>У вас {{ user().user_points.confirmed + ' ' + (user().user_points.confirmed | sailplay_pluralize:_tools.points.texts.pluralize) }}</b>-->
      </h3>
      <h4 class="modal_history_caption">{{ widget.texts.history.caption }}</h4>

      <table class="bns_hist_table">

        <tbody>

        <tr data-dir-paginate="item in history() | itemsPerPage:10" data-pagination-id="history_pages">
          <td>
            <span class="modal_history_date" data-ng-bind="item.action_date | date:'d.MM.yyyy'"></span>
          </td>
          <td>
            <span><b class="modal_history_content" data-ng-bind="item | history_item"></b></span>
          </td>
          <td>
            <span class="modal_history_points" data-ng-if="item.points_delta" data-ng-bind="((item.points_delta|number) || 0) + ' ' + (item.points_delta | sailplay_pluralize:('points.texts.pluralize' | tools))"></span>
          </td>
        </tr>

        </tbody>
      </table>

      <dir-pagination-controls data-max-size="7" data-pagination-id="history_pages"
                               data-template-url="profile.history_pagination"
                               data-direction-links="false"
                               data-auto-hide="true"></dir-pagination-controls>
    </div>



  </magic-modal>

  <!--profile edit section-->
  <magic-modal class="fill_profile_modal" data-show="profile.show_fill_profile">

    <div class="mb_popup mb_popup_prof" data-sailplay-fill-profile data-config="widget.fill_profile.config">

      <div class="mb_popup_top">
        <span class="modal_profile_header">{{ widget.fill_profile.header }}</span>
      </div>

      <form name="fill_profile_form" class="mb_popup_main mb_popup_main_mt" data-ng-submit="sailplay.fill_profile.submit(fill_profile_form, profile.fill_profile);">

        <div class="form_field" data-ng-repeat="field in sailplay.fill_profile.form.fields" data-ng-switch="field.input">

          <div data-ng-switch-when="image" class="avatar_upload clearfix">
            <img width="160px" data-ng-src="{{ (field.value | sailplay_pic) || 'http://saike.ru/sailplay-magic/dist/img/profile/avatar_default.png'}}" alt="">
          </div>

          <div data-ng-switch-when="text" class="clearfix">
            <label data-ng-hide="true" class="form_label">{{ field.label }}</label>
            <input class="form_input" type="text" placeholder="{{ field.placeholder }}" data-ng-model="field.value">
          </div>

          <div data-ng-switch-when="date" class="clearfix">
            <label class="form_label">{{ field.label }}</label>
            <date-picker data-model="field.value"></date-picker>
          </div>

          <div data-ng-switch-when="select" class="clearfix">
            <label class="form_label">{{ field.label }}</label>
            <div class="magic_select form_input">
              <select data-ng-model="field.value" data-ng-options="item.value as item.text for item in field.data"></select>
            </div>
          </div>

          <div data-ng-switch-when="phone" class="clearfix">
            <label class="form_label">{{ field.label }}</label>
            <input class="form_input" type="text" data-model-view-value="true" data-ui-mask="{{ field.placeholder }}" data-ng-model="field.value">
          </div>

          <div data-ng-hide="true" data-ng-switch-when="email" class="clearfix">
            <label class="form_label">{{ field.label }}</label>
            <input class="form_input" type="email" placeholder="{{ field.placeholder }}" data-ng-model="field.value">
          </div>

          <div data-ng-switch-when="radio" class="bns_radio_block bns_zi2">
            <label>{{ field.label }}</label>
            <div class="bns_radio">
              <!--div class="bns_radio_item" data-ng-repeat="item in field.data">
                  <input data-ng-value="{{item.value}}" data-ng-model="field.value" id="{{'field_' + field.name + '_' + item.value}}" type="radio">
                  <div class="control_indicator"></div>
                  <label for="{{'field_' + field.name + '_' + item.value}}">{{ item.text }}</label>
              </div-->
              <label class="control control-radio" data-ng-repeat="item in field.data">
                {{ item.text }}
                    <input data-ng-value="{{item.value}}" data-ng-model="field.value" id="{{'field_' + field.name + '_' + item.value}}" type="radio" />
                <div class="control_indicator"></div>
              </label>
            </div>
          </div>

        </div>

        <div class="answ_text">
          <button type="submit" class="sp_btn button_primary">{{ 'buttons.texts.save' | tools }}</button>
        </div>
      </form>
    </div>
  </magic-modal>

</div>