@import (reference) "../../src/theme/mixins";
@import (reference) "../../src/theme/helpers";
@import (reference) "../../src/theme/colors";

.spm_wrapper {

  .bon_profile_wrap {

    float: left;
    width: 100%;
    padding: 0 5%;
    .box-sizing(border-box);
    background-size: cover;
    position: relative;
    @media screen and (min-width: 651px) {
      background-image: url(https://sailplays3.cdnvideo.ru/media/assets/assetfile/4c19f4f9af24085fa5526913ed01adc0.png);
    }

    @media screen and (max-width: 650px) {
      padding: 60px 0 0;
      background-image: url(https://sailplays3.cdnvideo.ru/media/assets/assetfile/e011f64583b4de51b5285fec0dd0a1ca.png);
    }

    .bon_profile_info {
      width: 100%;
      float: left;
      position: relative;
      .bon_profile_top_left {
        float: left;
        width: 580px;
        h3 {
          float: left;
          width: 100%;
          font-size: 32px;
          color: @white;
          font-family: 'Raleway';
          font-style: italic;
          font-weight: 900;
          margin-top: 100px;
          margin-bottom: 20px;
          @media screen and (max-width: 650px) {
            margin-top: 20px;
          }
        }
        h4 {
          float: left;
          width: 100%;
          color: @white;
          font-size: 28px;
          font-family: 'open sans condensed';
          font-weight: 300;
        }
        .btn_more {
          margin-top: 20px;
          border: 1px solid white;
          background-color: transparent;
          padding: 8px;
          color: white;
          font-family: "raleway";
          font-style: italic;
          font-size: 22px;
          font-weight: 700;
          padding: 8px 42px;
        }
      }
      .bon_profile_top {
        display: flex;
        justify-content: space-around;
      }
      .bon_profile_right {
        float: right;
        width: 40%;
        min-width: 560px;
        border-radius: 600px;
        background-color: white;
        height: 280px;
        flex-direction: row;
        display: flex;
        margin-top: 100px;
        @media screen and (max-width: 992px) {
          width: 100%;
          border-radius: 0;
        }
        & .user_profile_container {
          padding-right: 30px;
          display: flex;
          flex-direction: column;
          width: 35%;
          align-items: flex-end;
        }
        & .user_points_container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-left: 10px;
          justify-content: center;
          width: 45%;
        }
        img {
          border-radius: 100%;
        }
        span {
          font-size: 16px;
          margin-top: 18px;
        }
        .login_reg_btn {
          float: right;
        }
        .logout_btn {
          position: absolute;
          right: 0;
          top: 0;
          width: 34px;
          height: 34px;
          background-image: url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/cd9b14afb3331b90328891d1a418f444.png');
          display: block;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .edit_profile_btn {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 34px;
          height: 34px;
          background-image: url('https://sailplays3.cdnvideo.ru/media/assets/assetfile/06a57d91558ea2a1aa2cfe5dc3225c65.png');
          display: block;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .user_avatar {
          width: auto;
          float: right;
          text-align: center;
        }
        .user_info {
          text-align: right;
          height: 60px;
          width: 60px;
          position: relative;
          span {
            word-wrap: break-word;
          }
        }
        .user_avatar_image {
          width: 140px;
          height: 140px;
        }
        .user_name {
          color: #aaa;
          font-family: "raleway";
          font-style: italic;
          font-size: 25px;
          font-weight: 700;
          text-transform: capitalize;
        }
        .status_name {
          text-transform: uppercase;
          color: #595959;
          font-family: "open sans condensed";
          font-size: 18px;
          font-weight: 700;
        }
        .points_confirmed {
          font-style: italic;
          color: #229fd3;
          font-family: "raleway";
          font-weight: 900;
          & .points_confirmed_value {
            font-size: 42px;
          }
          & .points_confirmed_name {
            font-size: 22px;
          }
        }
        .points_unconfirmed {
          font-family: "open sans condensed";
          font-weight: 700;
          color: #aaa;
          font-size: 16px;
        }
        .history_button {
          color: white;
          background-color: #333;
          font-family: "raleway";
          font-style: italic;
          text-align: center;
          padding: 6px;
          width: 80%;
          font-weight: 700;
          font-size: 24px;
          text-transform: none;
          text-decoration: none;
          margin-top: 16px;
          border: none !important;
        }
      }
      .bon_profile_stat {
        float: left;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 78px;

        .bps_left {
          float: left;
          width: auto;
          > span {
            color: @white;
            display: block;
            font-size: 33px;
            font-family: 'RotondaC bold';
          }
          > a {
            font-size: 14px;
            color: @white;
          }
        }
        .bps_right {
          float: right;
          width: 70%;
          margin-top: 12px;
          margin-right: 20px;
          .progress_line_main {
            position: relative;
            float: left;
            width: 100%;
            .progress_line_bg {
              height: 14px;
              border-top: 3px solid @black;
              background-color: @white;
              background-image: url(./assets/img/progress_line.png);
              border-radius: 20px;
            }
            .progress_line {
              position: absolute;
              left: 0px;
              top: 3px;
              width: 0%;
              background-color: @white;
              height: 14px;
              border-radius: 20px 0px 0px 20px;
              -webkit-transition: all 1000ms ease;
              -moz-transition: all 1000ms ease;
              -ms-transition: all 1000ms ease;
              -o-transition: all 1000ms ease;
              transition: all 1000ms ease;
              .progress_text {
                min-width: 100px;
                position: absolute;
                right: 0px;
                padding-top: 32px;
                border-right: 1px solid #fff;
                top: 0px;
                z-index: 1;
                &.right_position {
                  right: auto;
                  left: 100%;
                  border-left: 1px solid #fff;
                  border-right: none;
                  span {
                    border-radius: 0px 5px 5px 0px;
                  }
                }
                span {
                  float: right;
                  line-height: 30px;
                  background-color: rgba(255, 255, 255, 0.2);
                  color: @white;
                  font-size: 14px;
                  font-family: 'RotondaC';
                  border-radius: 5px 0px 0px 5px;
                  padding-left: 10px;
                  padding-right: 10px;
                }
              }
            }
            .gift_item {
              position: absolute;
              top: 50%;
              width: 36px;
              height: 36px;
              margin-top: -19px;
              margin-left: -19px;
              background-color: @main_light;
              border-radius: 6px;
              -webkit-background-size: 20px 22px;
              background-size: 20px 22px;
              background-repeat: no-repeat;
              background-position: center center;
              border-top: 3px solid @black;
              background-image: url(./assets/img/progress_gift.png);
              &.act {
                background-color: @white;
              }
              &_hint {
                opacity: 0;
                visibility: hidden;
                display: inline-block;
                position: absolute;
                left: 0;
                text-align: center;
                width: 100%;
                top: 0;
                font-weight: bold;
                transition: .3s ease;
                color: white;
              }

              &:hover {
                .gift_item_hint {
                  visibility: visible;
                  opacity: 1;
                  top: -20px;
                }
              }
            }
          }
        }
      }
    }

    .status_block {
      width: 30%;
      display: inline-block;
    }

    @media screen and (max-width: 650px) {
      .status_block {
        width: 100%;
      }

      .bon_profile_stat .bps_left {
        text-align: left;
      }
    }

    //media queries
    @media @desktop-xl {
      .bon_profile_info {
        .bon_profile_stat {
          .bps_right {
            width: 100%;
            margin-top: 30px;
            margin-right: 0px;
          }
        }
        .bon_profile_top_left {
          width: 60%;
        }
      }
    }

    @media @desktop {
      .progress_line_main {

        .progress_text {
          border: none !important;

          &:before {
            content: '';
            width: 1px;
            background: white;
            right: 0;
            top: 0;
            position: absolute;
            height: 17px;
            display: block;
          }

          span {

            position: relative;
            left: 50%;
            border-radius: 5px !important;

          }

        }

      }
    }

    .profile_mobile() {

      .bon_profile_info {
        width: 100%;
        .bon_profile_right {
          
        }
        .bon_profile_top {
          flex-direction: column;
          align-items: center;
        }
        .bon_profile_top_left {
          width: 100%;
          text-align: center;
        }
        .bon_profile_stat {
          .bps_right {
            float: left;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 12px;
            .progress_line_main {
              float: left;
              width: 95%;
            }
          }
        }
      }
    }

    @media @tablet {
      .profile_mobile();
    }

    @media @mobile {
      .profile_mobile();
    }

  }

  //history section
  .bns_hist_table {
    width: 100%;
    margin-top: 12px;
    min-height: 300px;
    td {
      vertical-align: text-top;
      padding: 5px 11px;
    }
    td:nth-child(1) {
      color: white;
      font-size: 19px;
      line-height: 19px;
      padding-right: 0px;
      padding-left: 0px;
      font-family: 'open sans condensed';
      font-weight: 300;
      white-space: nowrap;
    }
    td:nth-child(2) {
      color: white;
      font-size: 12px;
      font-weight: 200;
      line-height: 19px;
      position: relative;
      padding-left: 0px;
      width: 500px;
      &::after {
        position: absolute;
        left: 0px;
        width: 100%;
        top: 14px;
        content: '';
        display: block;
      }
      span {
        display: block;
        position: relative;
        z-index: 1;
        font-size: 13px;
        color: white;
        text-transform: uppercase;
        b {
          color: white;
          font-family: "open sans condensed";
          font-size: 18px;
          padding-right: 15px;
          padding-left: 40px;
          font-weight: 700;
        }
      }
      span:first-child {
        color: white;
      }
    }
    td:nth-child(3) {
      color: white;
      font-size: 14px;
      font-weight: bold;
      text-align: right;
      font-family: "raleway";
      font-size: 22px;
      font-weight: 900;
      font-style: italic;
      span {
        display: block;
        white-space: nowrap;
      }
    }
  }

  .bns_hist_pager {
    font-size: 13px;
    display: flex;
    justify-content: center;
    a {
      text-decoration: none;
      color: #000;
      margin-right: 4px;
      color: white;
      height: 30px;
      width: 30px;
      border-radius: 60px;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'open sans condensed';
      font-weight: 700;
      font-size: 22px;
      &.active {
        font-weight: bold;
        color: black;
        background-color: #f8e851;
        border-color: #f8e851;
      }
    }
  }

}
