<div class="bon_profile_wrap container" data-ng-show="widget.enabled" data-ng-cloak>

  <magic-modal class="bns_overlay bns_overlay_prof" data-ng-cloak data-show="profile.show_fill_profile">
        <div class="bns_overlay_inner" data-sailplay-fill-profile data-config="widget.fill_profile.config">
            <h4 class="bns_head">
                Ваш профиль
            </h4>
            <a href="" class="close" data-ng-click="$parent.close()"></a>
            <form name="fill_profile_form" class="bns_form" data-ng-submit="sailplay.fill_profile.submit(fill_profile_form, profile.fill_profile);">

            <div class="" data-ng-repeat="field in sailplay.fill_profile.form.fields" data-ng-switch="field.input">

              <div data-ng-switch-when="image" class="avatar_upload clearfix">
                <img width="160px" data-ng-src="{{ (field.value | sailplay_pic) || 'http://saike.ru/sailplay-magic/dist/img/profile/avatar_default.png'}}" alt="">
              </div>

              <div data-ng-switch-when="text" class="bns_input_block">
                <label>{{ field.label }}</label>
                <input type="text" placeholder="{{ field.placeholder }}" data-ng-model="field.value">
              </div>

              <div data-ng-switch-when="date" class="bns_select_date bns_zi3">
                <label>{{ field.label }}</label>
                <date-picker data-model="field.value"></date-picker>
              </div>

              <div data-ng-switch-when="select" class="clearfix">
                <label class="form_label">{{ field.label }}</label>
                <div class="magic_select form_input">
                  <select data-ng-model="field.value" data-ng-options="item.value as item.text for item in field.data"></select>
                </div>
              </div>
<!--
                <div class="bns_radio_block bns_zi2">
                    <label>Пол</label>
                    <div class="bns_radio">
                        <div class="bns_radio_item">
                            <input type="radio" name="pol" id="man">
                            <label for="man">Мужской</label>
                        </div>
                        <div class="bns_radio_item">
                            <input type="radio" name="pol" id="fam">
                            <label for="fam">Женский</label>
                        </div>
                    </div>
                </div>
-->
              <div data-ng-switch-when="radio" class="bns_radio_block bns_zi2">
                <label>{{ field.label }}</label>
                <div class="bns_radio">
                  <div class="bns_radio_item" data-ng-repeat="item in field.data">
                      <input data-ng-value="{{item.value}}" data-ng-model="field.value" id="{{'field_' + field.name + '_' + item.value}}" type="radio">
                      <label for="{{'field_' + field.name + '_' + item.value}}">{{ item.text }}</label>
                  </div>
                </div>
              </div>

              <div data-ng-switch-when="radio-tag" class="bns_radio_block bns_zi2">
                <label>{{ field.label }}</label>
                <div class="bns_radio">
                  <div class="bns_radio_item" data-ng-repeat="item in field.data">
            <!--      {{item}} -->
                      <input value="{{item.tag}}" data-ng-model="field.value" id="{{'field_' + field.name + '_' + item.tag}}" type="radio">
                      <label for="{{'field_' + field.name + '_' + item.tag}}">{{ item.text }}</label>
                  </div>
                </div>
              </div>

              <div data-ng-switch-when="phone" class="bns_input_block">
                <label>{{ field.label }}</label>
                <input type="text" data-model-view-value="true" data-ng-value="field.value | phonenumber" disabled="true">
                <div class="bns_toltip" data-ng-class="{bns_act: is_active_mail}" data-ng-click="is_active_mail = !is_active_mail">
                        <span>?</span>
                        <div class="bns_toltip_popup">
                            Телефон Вы можете изменить,
                            отправив запрос на почту
                            <a href="mailto:change@shop.bronnitsy.com">change@shop.bronnitsy.com</a>
                        </div>
                    </div>
              </div>
              <div data-ng-switch-when="email" class="bns_input_block">
                <label>{{ field.label }}</label>
                <input type="email" placeholder="{{ field.placeholder }}" data-ng-model="field.value" disabled="true">
                <div class="bns_toltip" data-ng-class="{bns_act: is_active_mail}" data-ng-click="is_active_mail = !is_active_mail">
                        <span>?</span>
                        <div class="bns_toltip_popup">
                            Email Вы можете изменить,
                            отправив запрос на почту
                            <a href="mailto:change@shop.bronnitsy.com">change@shop.bronnitsy.com</a>
                        </div>
                    </div>
              </div>

            </div>
            <div class="bns_form_bottom bns_form_bottom_mt answ_text">
              <button type="submit" class="bns_btn">
                {{ 'buttons.texts.save' | tools }}
              </button>
            </div>

          </form>
            
        </div>
  </magic-modal>
</div>

  <!--profile edit section
  <magic-modal class="fill_profile_modal" data-show="profile.show_fill_profile">

    <div class="mb_popup mb_popup_prof" data-sailplay-fill-profile data-config="widget.fill_profile.config">

      <div class="mb_popup_top">
        <span class="modal_profile_header">{{ widget.fill_profile.header }}</span>
      </div>

      <form name="fill_profile_form" class="mb_popup_main mb_popup_main_mt" data-ng-submit="sailplay.fill_profile.submit(fill_profile_form, profile.fill_profile);">

        <div class="form_field" data-ng-repeat="field in sailplay.fill_profile.form.fields" data-ng-switch="field.input">

          <div data-ng-switch-when="image" class="avatar_upload clearfix">
            <img width="160px" data-ng-src="{{ (field.value | sailplay_pic) || 'http://saike.ru/sailplay-magic/dist/img/profile/avatar_default.png'}}" alt="">
          </div>

          <div data-ng-switch-when="text" class="clearfix">
            <label class="form_label">{{ field.label }}</label>
            <input class="form_input" type="text" placeholder="{{ field.placeholder }}" data-ng-model="field.value">
          </div>

          <div data-ng-switch-when="date" class="clearfix">
            <label class="form_label">{{ field.label }}</label>
            <date-picker data-model="field.value"></date-picker>
          </div>

          <div data-ng-switch-when="select" class="clearfix">
            <label class="form_label">{{ field.label }}</label>
            <div class="magic_select form_input">
              <select data-ng-model="field.value" data-ng-options="item.value as item.text for item in field.data"></select>
            </div>
          </div>

          <div data-ng-switch-when="phone" class="clearfix">
            <label class="form_label">{{ field.label }}</label>
            <input class="form_input" type="text" data-model-view-value="true" data-ui-mask="{{ field.placeholder }}" data-ng-model="field.value">
          </div>

          <div data-ng-switch-when="email" class="clearfix">
            <label class="form_label">{{ field.label }}</label>
            <input class="form_input" type="email" placeholder="{{ field.placeholder }}" data-ng-model="field.value">
          </div>

        </div>

        <div class="answ_text">
          <button type="submit" class="sp_btn button_primary">{{ 'buttons.texts.save' | tools }}</button>
        </div>
      </form>
    </div>
  </magic-modal>
  -->

</div>