<div class="points_rate_progress__wrapper container" data-sailplay-badges>

    <div class="points_rate_progress__points points_rate_progress__blocks" data-ng-if="sailplay.user.info()">
        <span class="points_rate_progress__points-confirmed">
          <span class="points_rate_progress__points-confirmed-value"
                data-ng-bind="sailplay.user.info().user_points.confirmed | number"></span>
          <span class="points_rate_progress__points-confirmed-name"
                data-ng-bind="sailplay.user.info().user_points.confirmed | sailplay_pluralize: ('points.texts.pluralize' | tools)"></span>
        </span>
        <a class="points_rate_progress__points-history button_link history_button" href="#"
           data-ng-click="$event.preventDefault();$parent.show_history = true;">{{ widget.texts.history_button }}</a>
    </div>

    <div class="points_rate_progress__progress points_rate_progress__blocks"
         data-ng-if="sailplay.user.info() && badges_list">

        <p class="points_rate_progress__progress-offset">
            <span class="points_rate_progress__progress-offset-text" data-ng-bind="widget.texts.to_text_status"></span>
            <span class="points_rate_progress__progress-offset-value">
                {{ get_offset(sailplay.user.info().purchases.sum, badges_list) | number }}
                {{ get_offset(sailplay.user.info().purchases.sum, badges_list) | sailplay_pluralize: ('rub.texts.pluralize' | tools) }}
            </span>
        </p>

        <div class="points_rate_progress__progress-block">
            <div class="points_rate_progress__progress-block-line" data-ng-style="get_progress(sailplay.user.info().purchases.sum, badges_list)"></div>
            <div class="points_rate_progress__progress-block-text" data-ng-bind="get_next_status(sailplay.user.info().purchases.sum, badges_list).descr"></div>
            <!--<img class="points_rate_progress__progress-block-img" data-ng-src="{{ get_next_status(sailplay.user.info().purchases.sum, badges_list).thumbs.url_100x100 | sailplay_pic }}" alt="{{ get_next_status(sailplay.user.info().purchases.sum, badges_list).name }}">-->
        </div>

    </div>

    <div class="points_rate_progress__rate points_rate_progress__blocks"
         data-ng-if="sailplay.user.info() && badges_list">

        <span class="points_rate_progress__rate-value" data-ng-bind="(get_current_status(sailplay.user.info().purchases.sum, badges_list).descr || '0%')"></span>
        <span class="points_rate_progress__rate-text" data-ng-bind="widget.texts.points_rate"></span>

    </div>

    <magic-modal class="bns_overlay_hist" data-show="show_history">

        <div data-sailplay-history data-sailplay-profile>

            <h3>
                <span class="modal_history_header">{{ widget.texts.history.header }}</span>
                <!--<b>У вас {{ user().user_points.confirmed + ' ' + (user().user_points.confirmed | sailplay_pluralize:_tools.points.texts.pluralize) }}</b>-->
            </h3>
            <h4 class="modal_history_caption">{{ widget.texts.history.caption }}</h4>

            <table class="bns_hist_table">

                <tbody>

                <tr data-dir-paginate="item in history() | itemsPerPage:10" data-pagination-id="history_pages">
                    <td>
                        <span class="modal_history_date" data-ng-bind="item.action_date | date:'d/MM/yyyy'"></span>
                    </td>
                    <td>
                        <span><b class="modal_history_content" data-ng-bind="item | history_item"></b></span>
                    </td>
                    <td>
                        <span class="modal_history_points" data-ng-if="item.points_delta" data-ng-bind="((item.points_delta|number) || 0) + ' ' + (item.points_delta | sailplay_pluralize:('points.texts.pluralize' | tools))"></span>
                    </td>
                </tr>

                </tbody>
            </table>

            <dir-pagination-controls data-max-size="7" data-pagination-id="history_pages"
                                     data-template-url="points_rate_progress.history_pagination"
                                     data-auto-hide="true"></dir-pagination-controls>
        </div>



    </magic-modal>

</div>