<div class="spm_profile_ti ti_wrapper clearfix" ng-if="widget.enabled" ng-cloak sailplay-profile>

    <div class="ti_profile">
        <div class="ti_container">
            <div class="ti_profile_text">
                <h1 class="ti_profile_text_header" ng-bind="widget.texts.header"></h1>
                <div class="ti_profile_text_desc" ng-bind-html="widget.texts.description | to_trusted"></div>
            </div>
            <div class="ti_profile_info">
                <img class="ti_profile_logout" ng-src="{{widget.images.logout}}" ng-if="user()" ng-click="$event.preventDefault();logout()">
                <div class="ti_type_no_auth" ng-if="!user()">
                    <img class="ti_stores_item_logo" ng-src="{{widget.images.no_auth_avatar}}">
                    <a href="#" class="ti_button" ng-bind="widget.texts.login" ng-click="$event.preventDefault(); login('remote', {widget: 'profile_ti', element: 'login_button'});"></a>
                </div>
                <div class="ti_type_auth" ng-if="user()">
                    <img ng-src="{{user().user.sex == 1 ? widget.images.man_avatar : widget.images.woman_avatar }}" ng-click="openPopup('history')">
                    <div class="ti_purchase_balance">
                        <div ng-bind="(user().purchases.sum | number) + widget.texts.currency"></div>
                        <span ng-bind="widget.texts.balance_placeholder"></span>
                    </div>
                    <div class="ti_level_offset" ng-if="getLevelOffset(user().purchases.sum)">
                        <div ng-bind="(getLevelOffset(user().purchases.sum) | number) + widget.texts.currency"></div>
                        <span ng-bind="widget.texts.next_level_placeholder"></span>
                    </div>
                    <a class="ti_button type_small" href="#" ng-bind="widget.texts.buttons.open_history" ng-click="$event.preventDefault();openPopup('history')"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="ti_popup ti_profile_history" ng-show="popups.history">
        <div class="ti_popup_layout" ng-click="$event.preventDefault();closePopup('history');closePurchase()"></div>
        <div class="ti_popup_content">
            <img class="ti_popup_close" ng-src="{{widget.images.close}}" ng-click="$event.preventDefault();closePopup('history');closePurchase()">
            <div class="ti_profile_history_content">

                <div class="ti_profile_history_info">
                    <div class="ti_profile_history_info_field type_pic">
                        <img ng-src="{{user().user.sex == 1 ? widget.images.man_avatar : widget.images.woman_avatar }}">
                        <span ng-bind="user().user.name || widget.texts.undefined"></span>
                    </div>
                    <div class="ti_profile_history_info_field">
                        <span ng-bind="widget.texts.history.email"></span>
                        <div ng-bind="user().user.email || widget.texts.undefined"></div>
                    </div>
                    <div class="ti_profile_history_info_field">
                        <span ng-bind="widget.texts.history.phone"></span>
                        <div ng-bind="(user().user.phone | tel) || widget.texts.undefined"></div>
                    </div>
                    <div class="ti_profile_history_info_field">
                        <span ng-bind="widget.texts.history.birth_date"></span>
                        <div ng-bind="(formatDate(user().user.birth_date, 'date.shortMonths' | tools)) || widget.texts.undefined"></div>
                    </div>
                    <div class="ti_profile_history_info_field">
                        <span ng-bind="widget.texts.history.gender"></span>
                        <div ng-bind="getGender(user().user.sex)"></div>
                    </div>
                    <a class="ti_button type_small" href="#" ng-bind="widget.texts.buttons.open_profile" ng-click="$event.preventDefault();closePopup('history');openPopup('profile');closePurchase();"></a>
                </div>

                <div class="ti_profile_history_list" sailplay-history ng-show="!purchase_details">
                    <div class="ti_profile_history_title" ng-bind="widget.texts.history.title"></div>
                    <div class="ti_profile_history_items_wrapper">

                        <div class="ti_profile_history_item" dir-paginate="item in history() | filter:{action: 'purchase', is_completed: true} | itemsPerPage:5"
                            pagination-id="history_pages">
                            <div class="ti_profile_history_item_date" ng-bind="formatDate(item.action_date, 'date.shortMonths' | tools)"></div>
                            <div class="ti_profile_history_item_info">
                                <div class="ti_profile_history_item_info_position">
                                    <div class="ti_profile_history_item_info_position_name" ng-click="openPurchase(item)">{{item | history_item}}&nbsp;&gt;</div>
                                    <div class="ti_profile_history_item_info_position_count" ng-bind="(item.price | number) + widget.texts.currency"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <dir-pagination-controls max-size="7" pagination-id="history_pages" template-url="profile_ti.history_pagination" auto-hide="true"></dir-pagination-controls>
                </div>

                <div class="ti_profile_purchase_details" ng-if="purchase_details">
                    <div class="ti_profile_purchase_title">
                        <img ng-src="{{widget.images.history_back}}" ng-click="closePurchase()">
                        <span ng-bind="purchase_details.purchase.order_num"></span>
                    </div>
                    <div class="ti_profile_purchase_item" ng-repeat="item in purchase_details.cart.cart.positions">
                        <div class="ti_profile_purchase_item_name" ng-bind="item.product.name || item.product.sku"></div>
                        <div class="ti_profile_purchase_item_price" ng-bind="(item.new_price | number) + widget.texts.currency"></div>
                    </div>
                    <div class="ti_profile_purchase_item type_total">
                        <div class="ti_profile_purchase_item_name" ng-bind="widget.texts.history.total"></div>
                        <div class="ti_profile_purchase_item_price" ng-bind="(purchase_details.cart.cart.total_price | number) + widget.texts.currency"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="ti_popup ti_profile_form" ng-show="popups.profile">
        <div class="ti_popup_layout" ng-click="$event.preventDefault();closePopup('profile');openPopup('history')"></div>
        <div class="ti_popup_content" ng-class="{type_column: !confirmation[0]}">
            <img class="ti_popup_close" ng-src="{{widget.images.close}}" ng-click="$event.preventDefault();closePopup('profile');openPopup('history')">
            <form name="profile_form" class="ti_profile_form_content" ng-class="{type_small: confirmation[0]}" sailplay-fill-profile config="widget.options.profile_config"
                ng-submit="sailplay.fill_profile.submit(profile_form, profileEditHandler);">

                <div class="ti_profile_form_part" ng-repeat="(key, value) in (widget.options.profile_config.cols | ngRepeatByNumber) track by $index">

                    <div class="ti_profile_form_el" ng-repeat="field in getFieldsByColumn(sailplay.fill_profile.form.fields, key)" ng-switch="field.input"
                        ng-class="{type_gender:field.input=='select', type_date:field.input=='date'}">

                        <div ng-switch-when="text">
                            <span ng-bind="field.label"></span>
                            <input type="text" placeholder="{{field.placeholder}}" name="{{field.name}}" ng-model="field.value" ng-required="field.required">
                        </div>

                        <div ng-switch-when="phone">
                            <span ng-bind="field.label"></span>
                            <input type="tel" model-view-value="true" ui-mask="{{ field.placeholder }}" name="{{field.name}}" ng-model="field.value" ng-required="field.required">
                        </div>

                        <div ng-switch-when="email">
                            <span ng-bind="field.label"></span>
                            <input type="email" placeholder="{{field.placeholder}}" name="{{field.name}}" ng-model="field.value" ng-required="field.required">
                        </div>

                        <div ng-switch-when="select">
                            <span ng-bind="field.label"></span>
                            <label ng-repeat="option in field.data">
                                <input type="radio" name="{{option.name}}" ng-value="option.value" ng-model="field.value" ng-required="field.required">
                                <span ng-bind="option.text"></span>
                            </label>
                        </div>

                        <div ng-switch-when="date">
                            <span ng-bind="field.label"></span>
                            <input type="text" ui-mask="{{ field.mask.day }}" ui-mask-placeholder="{{ field.mask_placeholder.day }}" ui-mask-placeholder-char="{{ field.mask_placeholder.day }}" ui-options="maskOptions" placeholder="{{ field.placeholder.day }}" name="b_day" ng-model="field.value[0]">
                            <input type="text" ui-mask="{{ field.mask.month }}" ui-mask-placeholder="{{ field.mask_placeholder.month }}" ui-mask-placeholder-char="{{ field.mask_placeholder.month }}" ui-options="maskOptions" placeholder="{{ field.placeholder.month }}" name="b_month" ng-model="field.value[1]">
                            <input type="text" ui-mask="{{ field.mask.year }}" ui-mask-placeholder="{{ field.mask_placeholder.year }}" ui-mask-placeholder-char="{{ field.mask_placeholder.year }}" ui-options="maskOptions" placeholder="{{ field.placeholder.year }}" name="b_year" ng-model="field.value[2]">
                        </div>

                    </div>

                </div>
                <input class="ti_button type_small ti_profile_form_submit" ng-hide="confirmation[0] == 'phone'" type="submit" value="{{widget.texts.profile.save}}" ng-disabled="profile_form.$invalid">
            </form>
            <div class="ti_profile_form_confirmation" ng-if="confirmation[0]" ng-switch="confirmation[0]">

                <div ng-switch-when="phone">
                    <div class="ti_profile_form_confirmation_title" ng-bind-html="widget.texts.profile.confirmation.phone.title | to_trusted"></div>
                    <input class="ti_profile_form_confirmation_input" type="text" placeholder="{{widget.texts.profile.confirmation.phone.input}}" ui-mask="9999" ng-model="confirmation_data.code" ng-change="confirmUpdatePhone($event)">
                    <a class="ti_profile_form_confirmation_link ti_profile_form_confirmation_send" href="#" ng-bind="widget.texts.profile.confirmation.phone.resend" ng-click="$event.preventDefault();sendSms()"></a>
                    <a class="ti_profile_form_confirmation_link ti_profile_form_confirmation_back" href="#" ng-bind="widget.texts.profile.confirmation.phone.change_phone" ng-click="$event.preventDefault();changePhone()"></a>
                    <div class="ti_profile_form_confirmation_text" ng-bind-html="widget.texts.profile.confirmation.phone.text | interpolateString:confirmation_data | to_trusted"></div>
                </div>

                <div ng-switch-when="email">
                    <div class="ti_profile_form_confirmation_title" ng-bind-html="widget.texts.profile.confirmation.email.title | to_trusted"></div>
                    <div class="ti_profile_form_confirmation_text" ng-bind-html="widget.texts.profile.confirmation.email.text | interpolateString:confirmation_data | to_trusted"></div>
                </div>

            </div>
            <div class="ti_profile_form_message" ng-show="success && !error || error && !success" ng-bind="success || error" ng-class="{type_success: success && !error, type_error: error && !success}"></div>
        </div>
    </div>

</div>