<div class="clearfix">
  <div class="bon_choice_main container" data-ng-show="user && user()">
    <h3 class="bon_header">
      <span class="header">{{ widget.texts.header_1_prefix }}</span>
      <span class="header">{{ user().user_status.name || widget.texts.default_status_string }}</span>
      <span class="header">{{ widget.texts.header_1_suffix }}</span>
    </h3>
    <h3 class="bon_header bon_second_header">
      <span class="header">{{ widget.texts.header_2_prefix }}</span>
      <span class="header bon_second_header_value">{{ toLocaleString(user().user_points.confirmed || 0) }}</span>
      <span class="header">{{ widget.texts.header_2_suffix }}</span>
    </h3>
    <div class="progress-line-container">
      <div class="progress-hints">
        <span class="progress-hints__left">Earn 1 Soligent Buck per $ spent until you reach you threshold</span>
        <span class="progress-hints__right">Earn multiplied Soligent Bucks for each $ spent past your threshold</span>
      </div>
      <div class="left-progress-ann"></div>
      <div class="right-progress-ann"></div>
      <div class="progress-line">
        <div class="fill" data-ng-style="{width: leftBarWidth}"></div>
        <div class="delim"></div>
        <div class="empty" data-ng-style="{width: rightBarWidth}"></div>
      </div>
      <div class="current-quarter">
        <span class="current-quarter-text">Your Quarterly Threshold: $</span>
        <span class="current-quarter-value">{{ toLocaleString(threshold || 0) }}</span>
        <div class="current-quarter-second-text">by the end of this quarter</div>
      </div>
      <div class="spent-quarter">
        <span class="spent-quarter-prefix">$</span>
        <span class="spent-quarter-value">{{ toLocaleString(quarter_revenue || 0) }}</span>
        <span class="spent-quarter-suffix"> Spent this quarter</span>
      </div>
      <div class="howdo_hint" data-ng-show="show_hint">
        <div class="text" data-ng-click="hideHint()">Earn 1 Soligent Buck per dollar spent. If you spend more than your threshold, you’ll earn additional bonus points
          on all additional dollars spent based on your status.</div>
        <div class="triangle-bottom"></div>
      </div>
      <div class="buttons-container">
        <a href="javascript:void(0)" class="button_primary" data-ng-click="showHistory()">HISTORY</a>&nbsp;
        <a href="javascript:void(0)" class="button_primary" data-ng-click="toggleHint()">HOW DO I EARN</a>
      </div>
    </div>
  </div>
</div>