<div class="clearfix">
  <div class="bon_item_main clearfix" data-ng-show="line.length" data-magic-slider>

    <div class="bon_slide_cat_item_wrap" data-magic-gallery>
      <div class="bon_slide_cat_item">

        <div class="bon_item_line" data-ng-style="{left : left}">

          <sailplay-magic-badge data-magic-slide data-badge="badge" data-ng-repeat="badge in line" data-ng-class="{ last: $last }"></sailplay-magic-badge>

        </div>

      </div>

      <a href="#" class="arr_left arr_left slider_arrow_left" data-ng-click="$event.preventDefault(); set_position('left');" data-ng-show="show_left"></a>
      <a href="#" class="arr_right arr_right slider_arrow_right" data-ng-click="$event.preventDefault(); set_position('right');" data-ng-show="show_right"></a>

    </div>

  </div>
</div>