.actions_selected_modal .action_image {
  width: 100%;
  text-align: center;
}

.header {
  font-size: 42px;
  color: black;
  width: 100%;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  font-family: Tahoma;
  display: block;
  text-align: center;
}

.card_quests {
  max-width: 1200px;
  padding-top: 40px;
  margin: 0 auto;
  display: block;
}

.quest_card_points {
  color: #939393;
  padding: 6px;
  font-size: 18px;
  font-family: Tahoma;
  font-weight: 300;
}

.quest_card_image img {
  right: 0;
  bottom: 0;
  top: 0;
  height: 35%;
  width: auto;
  position: absolute;
  margin: auto;
  left: 0;
}

.actions_selected_modal .action_tools {
  padding: 30px;
  width: 100%;
}

.container {
  position: relative;
  background-color: #F2F2F2;
  padding-bottom: 50px;
}

.quest_card_buttons {
  padding-top: 45px;
}

.quest_card_container {
  width: 33.3%;
}

.quest_card_image {
  border-radius: 50%;
  float: left;
  height: 90px;
  width: 90px;
  position: relative;
  overflow: hidden;
  margin: 20px 0 0 20px;
  background-color: #edf3f5;
}

.quest_card {
  float: left;
  background: white;
}

.card_quests_caption {
  width: 90%;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 5%;
}

.quest_card_name {
  color: #111;
  padding: 6px;
  font-size: 16px;
  font-weight: 300;
  font-family: Tahoma;
}

.modal_action_name {
  color: black;
  font-size: 36px;
  font-family: Tahoma;
}

.card_quests_list {
  width: 90%;
  margin-left: 5%;
}

.quest_card_tools {
  max-width: 65%;
  width: 100%;
  float: left;
  padding: 30px 10px 30px 20px;
  background-color: #fff;
}

.modal_action_points {
  color: grey;
  font-size: 20px;
  font-family: Tahoma;
}

.actions_selected_modal .gift_more_img {
  width: auto;
  margin: 30px auto;
  display: inline-block;
  height: 120px;
}

.caption {
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: inline-block;
  text-align: center;
}

.modal_action_description {
  color: black;
  font-size: 14px;
  font-weight: 300;
  font-family: Tahoma;
}

.actions_custom_selected_modal .modal_container {
  padding: 20px;
  width: 800px;
}

.actions_selected_modal .modal_container {
  padding: 0;
}

.card_quests_header {
  font-size: 48px;
  font-weight: 300;
  color: #000;
  margin-bottom: 0;
  font-family: Tahoma;
  text-align: center;
}