<div class="clearfix">
  <div class="bon_choice_main container" data-ng-show="widget.enabled && !$root.hide_all">
    <h3 class="bon_header">
      <span class="header">{{ widget.texts.header }}</span>
    </h3>
    <h4 class="bon_sub_header">
      <span class="caption">{{ widget.texts.caption }}</span>
    </h4>

    <!--<div data-ng-hide="leads.length" style="text-align: center"> Empty Data </div>-->
    <div class="lead" data-ng-repeat="lead in leads">
      <div class="lead_info" ng-init="currentIndex = 0">
        <p><span>Name:</span> {{ lead.name }}</p>
        <p><span>Company Name:</span> {{ lead.custom_vars[0].value }}</p>
        <p><span>Phone:</span> {{ lead.phone | tel }}</p>
        <p><span>Email:</span> {{ lead.email }}</p>
      </div>
      <div class="lead_center">
        <div class="lead_partners_controls" ng-show="lead.partners.length">
          <div class="left" data-ng-show="currentIndex > 0" data-ng-click="currentIndex = currentIndex - 1"></div>
          <div class="right" data-ng-show="currentIndex < $parent.Math.floor((lead.partners.length - 1) / 2)" data-ng-click="currentIndex = currentIndex + 1"></div>
        </div>
        <div class="lead_partners">
          <div class="slider" data-ng-style="{ transform: 'translate3d(' + -(currentIndex * 640) + 'px, 0, 0)' }">
            <div data-ng-hide="lead.partners.length" style="text-align: center"> Empty Data </div>
            <div class="lead_partner_item" data-ng-repeat="partner in lead.partners">
              <div class="field">
                <div class="caption">STATUS</div>
                <div class="value select">
                  <select class="magic_select" ng-model="partner.tag" data-ng-change="$parent.setTag(partner.phone, partner.tag, lead.phone)">
                  <option value="closed">Closed</option>
                  <option value="open">Open</option>
                  <option value="booked">Booked</option>
                </select>
                </div>
              </div>
              <div class="field">
                <div class="caption">Name</div>
                <div class="value" data-ng-bind="partner.name"></div>
              </div>
              <div class="field">
                <div class="caption">Phone</div>
                <div class="value" data-ng-bind="partner.phone | tel"></div>
              </div>
              <div class="field">
                <div class="caption">Email</div>
                <div class="value" style="overflow: hidden; text-overflow: ellipsis" data-ng-attr-title="{{ partner.email }}" data-ng-bind="partner.email"></div>
              </div>
              <div class="field">
                <div class="caption">From</div>
                <div style="overflow: hidden; text-overflow: ellipsis" data-ng-attr-title="{{ partner.custom_vars[1].value }}, {{ partner.custom_vars[3].value }}" class="value">{{ partner.custom_vars[1].value }}, {{ partner.custom_vars[3].value }}</div>
              </div>
              <div class="field">
                <div class="caption">To</div>
                <div class="value" data-ng-bind="partner.custom_vars[2].value"></div>
              </div>
              <div class="field">
                <div class="caption">When</div>
                <div class="value" data-ng-bind="partner.custom_vars[0].value"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>