.bns_input_block_sel{
  &:hover, &:active{
  	& ul{
      display: block !important;
  	}
  }
  & ul{
	max-height: 200px;
    overflow-y: auto;
  }
}  

.bns_overlay {
  opacity: 0;
  display: block;
  visibility: hidden;
  &.visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  transition: visibility 0s linear 0.5s, opacity 0.4s ease-out;
}

.bns_btn{
	cursor: pointer;
	cursor: hand;
	border: 0;
}

input[type="text"]:disabled{
	background-color: white !important;
}

.form_date__popup{
	z-index: 999;
}

.bns_overlay .bns_overlay_inner .bns_over_left{
	min-width: 600px;
}

.iframe-inner-modal{
  min-width: 600px;
  min-height: 400px;
}

.sailplay_action_custom_frame.static_page {
  min-width: 600px;
  min-height: 400px;
}